Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Campos/S_Campos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:50723/S_Campos.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:50723/S_Campos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="S_Campos_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="S_Campos_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="S_Campos_ListaCampos_InputMessage">
    <wsdl:part name="parameters" element="ListaCampos" />
  </wsdl:message>
  <wsdl:message name="S_Campos_ListaCampos_OutputMessage">
    <wsdl:part name="parameters" element="ListaCamposResponse" />
  </wsdl:message>
  <wsdl:message name="S_Campos_GuardaCampos_InputMessage">
    <wsdl:part name="parameters" element="GuardaCampos" />
  </wsdl:message>
  <wsdl:message name="S_Campos_GuardaCampos_OutputMessage">
    <wsdl:part name="parameters" element="GuardaCamposResponse" />
  </wsdl:message>
  <wsdl:portType name="S_Campos">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:S_Campos/DoWork" message="S_Campos_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Campos/DoWorkResponse" message="S_Campos_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaCampos">
      <wsdl:input wsaw:Action="urn:S_Campos/ListaCampos" message="S_Campos_ListaCampos_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Campos/ListaCamposResponse" message="S_Campos_ListaCampos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardaCampos">
      <wsdl:input wsaw:Action="urn:S_Campos/GuardaCampos" message="S_Campos_GuardaCampos_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Campos/GuardaCamposResponse" message="S_Campos_GuardaCampos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>