Proyectos Trabajos/Broxel/Dlls/PubliPayments.Negocios.Originacion/PubliPayments.Negocios.Originacion/Service References/ConsultaEstatusMejoravitApp11/WSConsultaEstatusMejoravitApp11.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema">
  <s:element name="ConsultaEstatus">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="NSS" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="ConsultaEstatusResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="ConsultaEstatusResult" type="tns:WsResConsultaEstatus" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:complexType name="WsResConsultaEstatus">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="WSidMensaje" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSMensaje" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSvuelta" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSUsuarioAlta" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSFechaAlta" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSUsuarioModifico" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSFechaModifico" type="s:string" />
    </s:sequence>
  </s:complexType>
</s:schema>