Proyectos Prueba/MVVM Tutorials/EjemploAngel/ViewModelFacturas/Service References/ServicioFacturas/Cabecera2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DOminio.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DOminio.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CabeceraFacturaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetalleFactura" nillable="true" type="tns:ArrayOfDetalleFacturaDTO" />
      <xs:element minOccurs="0" name="FechaEmision" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CabeceraFacturaDTO" nillable="true" type="tns:CabeceraFacturaDTO" />
  <xs:complexType name="ArrayOfDetalleFacturaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleFacturaDTO" nillable="true" type="tns:DetalleFacturaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleFacturaDTO" nillable="true" type="tns:ArrayOfDetalleFacturaDTO" />
  <xs:complexType name="DetalleFacturaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCabecera" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleFacturaDTO" nillable="true" type="tns:DetalleFacturaDTO" />
  <xs:complexType name="ArrayOfCabeceraFacturaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CabeceraFacturaDTO" nillable="true" type="tns:CabeceraFacturaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCabeceraFacturaDTO" nillable="true" type="tns:ArrayOfCabeceraFacturaDTO" />
</xs:schema>