Proyectos Prueba/MVVM Tutorials/EjemploAngel/ViewModelFacturas/Service References/ServicioFacturas/Cabecera.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cabecera" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14050/Cabecera.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14050/Cabecera.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14050/Cabecera.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DOminio.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICabeceraService_InsertarCabeceraService_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarCabeceraService" />
  </wsdl:message>
  <wsdl:message name="ICabeceraService_InsertarCabeceraService_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarCabeceraServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ICabeceraService_ListaCabeceraFacturasService_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaCabeceraFacturasService" />
  </wsdl:message>
  <wsdl:message name="ICabeceraService_ListaCabeceraFacturasService_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaCabeceraFacturasServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="ICabeceraService">
    <wsdl:operation name="InsertarCabeceraService">
      <wsdl:input wsaw:Action="http://tempuri.org/ICabeceraService/InsertarCabeceraService" message="tns:ICabeceraService_InsertarCabeceraService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICabeceraService/InsertarCabeceraServiceResponse" message="tns:ICabeceraService_InsertarCabeceraService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaCabeceraFacturasService">
      <wsdl:input wsaw:Action="http://tempuri.org/ICabeceraService/ListaCabeceraFacturasService" message="tns:ICabeceraService_ListaCabeceraFacturasService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICabeceraService/ListaCabeceraFacturasServiceResponse" message="tns:ICabeceraService_ListaCabeceraFacturasService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICabeceraService" type="tns:ICabeceraService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarCabeceraService">
      <soap:operation soapAction="http://tempuri.org/ICabeceraService/InsertarCabeceraService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCabeceraFacturasService">
      <soap:operation soapAction="http://tempuri.org/ICabeceraService/ListaCabeceraFacturasService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cabecera">
    <wsdl:port name="BasicHttpBinding_ICabeceraService" binding="tns:BasicHttpBinding_ICabeceraService">
      <soap:address location="http://localhost:14050/Cabecera.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>