Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SvcGestionCatalogos/S_GestionCatalogos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Universidad.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHOR_HORAS_POR_DIA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HOR_HORAS_POR_DIA" nillable="true" type="tns:HOR_HORAS_POR_DIA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHOR_HORAS_POR_DIA" nillable="true" type="tns:ArrayOfHOR_HORAS_POR_DIA" />
  <xs:complexType name="HOR_HORAS_POR_DIA">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDDIA" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="IDHORA" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="IDHORASPORDIA" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HOR_HORAS_POR_DIA" nillable="true" type="tns:HOR_HORAS_POR_DIA" />
  <xs:complexType name="ArrayOfAUL_CAT_TIPO_AULA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AUL_CAT_TIPO_AULA" nillable="true" type="tns:AUL_CAT_TIPO_AULA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAUL_CAT_TIPO_AULA" nillable="true" type="tns:ArrayOfAUL_CAT_TIPO_AULA" />
  <xs:complexType name="AUL_CAT_TIPO_AULA">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDTIPOAULA" type="xs:short" />
      <xs:element minOccurs="0" name="TIPOAULA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AUL_CAT_TIPO_AULA" nillable="true" type="tns:AUL_CAT_TIPO_AULA" />
  <xs:complexType name="ArrayOfUS_CAT_TIPO_USUARIO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="US_CAT_TIPO_USUARIO" nillable="true" type="tns:US_CAT_TIPO_USUARIO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUS_CAT_TIPO_USUARIO" nillable="true" type="tns:ArrayOfUS_CAT_TIPO_USUARIO" />
  <xs:complexType name="US_CAT_TIPO_USUARIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_TIPO_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="TIPO_USUARIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="US_CAT_TIPO_USUARIO" nillable="true" type="tns:US_CAT_TIPO_USUARIO" />
  <xs:complexType name="ArrayOfUS_CAT_NIVEL_USUARIO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="US_CAT_NIVEL_USUARIO" nillable="true" type="tns:US_CAT_NIVEL_USUARIO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUS_CAT_NIVEL_USUARIO" nillable="true" type="tns:ArrayOfUS_CAT_NIVEL_USUARIO" />
  <xs:complexType name="US_CAT_NIVEL_USUARIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_NIVEL_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="NIVEL_USUARIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="US_CAT_NIVEL_USUARIO" nillable="true" type="tns:US_CAT_NIVEL_USUARIO" />
  <xs:complexType name="ArrayOfUS_CAT_ESTATUS_USUARIO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="US_CAT_ESTATUS_USUARIO" nillable="true" type="tns:US_CAT_ESTATUS_USUARIO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUS_CAT_ESTATUS_USUARIO" nillable="true" type="tns:ArrayOfUS_CAT_ESTATUS_USUARIO" />
  <xs:complexType name="US_CAT_ESTATUS_USUARIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTATUS_USUARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_ESTATUS_USUARIOS" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="US_CAT_ESTATUS_USUARIO" nillable="true" type="tns:US_CAT_ESTATUS_USUARIO" />
  <xs:complexType name="ArrayOfPER_CAT_NACIONALIDAD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PER_CAT_NACIONALIDAD" nillable="true" type="tns:PER_CAT_NACIONALIDAD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPER_CAT_NACIONALIDAD" nillable="true" type="tns:ArrayOfPER_CAT_NACIONALIDAD" />
  <xs:complexType name="PER_CAT_NACIONALIDAD">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVE_NACIONALIDAD" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE_PAIS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PER_CAT_NACIONALIDAD" nillable="true" type="tns:PER_CAT_NACIONALIDAD" />
  <xs:complexType name="ArrayOfPER_CAT_TIPO_PERSONA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PER_CAT_TIPO_PERSONA" nillable="true" type="tns:PER_CAT_TIPO_PERSONA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPER_CAT_TIPO_PERSONA" nillable="true" type="tns:ArrayOfPER_CAT_TIPO_PERSONA" />
  <xs:complexType name="PER_CAT_TIPO_PERSONA">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_TIPO_PERSONA" type="xs:int" />
      <xs:element minOccurs="0" name="TIPO_PERSONA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PER_CAT_TIPO_PERSONA" nillable="true" type="tns:PER_CAT_TIPO_PERSONA" />
  <xs:complexType name="ArrayOfDIR_CAT_COLONIAS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DIR_CAT_COLONIAS" nillable="true" type="tns:DIR_CAT_COLONIAS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDIR_CAT_COLONIAS" nillable="true" type="tns:ArrayOfDIR_CAT_COLONIAS" />
  <xs:complexType name="DIR_CAT_COLONIAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGOPOSTAL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDCOLONIA" type="xs:int" />
      <xs:element minOccurs="0" name="IDDELGMUNICIPIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDESTADO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDMUNICIPIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDTIPOASENTAMIENTO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDTIPOZONA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRECOLONIA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DIR_CAT_COLONIAS" nillable="true" type="tns:DIR_CAT_COLONIAS" />
  <xs:complexType name="ArrayOfDIR_CAT_ESTADO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DIR_CAT_ESTADO" nillable="true" type="tns:DIR_CAT_ESTADO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDIR_CAT_ESTADO" nillable="true" type="tns:ArrayOfDIR_CAT_ESTADO" />
  <xs:complexType name="DIR_CAT_ESTADO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDESTADO" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBREESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBREOFICIAL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DIR_CAT_ESTADO" nillable="true" type="tns:DIR_CAT_ESTADO" />
  <xs:complexType name="ArrayOfDIR_CAT_DELG_MUNICIPIO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DIR_CAT_DELG_MUNICIPIO" nillable="true" type="tns:DIR_CAT_DELG_MUNICIPIO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDIR_CAT_DELG_MUNICIPIO" nillable="true" type="tns:ArrayOfDIR_CAT_DELG_MUNICIPIO" />
  <xs:complexType name="DIR_CAT_DELG_MUNICIPIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDDELGMUNICIPIO" type="xs:int" />
      <xs:element minOccurs="0" name="IDESTADO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDMUNICIPIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBREDELGMUNICIPIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DIR_CAT_DELG_MUNICIPIO" nillable="true" type="tns:DIR_CAT_DELG_MUNICIPIO" />
  <xs:complexType name="ArrayOfHOR_CAT_TURNO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HOR_CAT_TURNO" nillable="true" type="tns:HOR_CAT_TURNO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHOR_CAT_TURNO" nillable="true" type="tns:ArrayOfHOR_CAT_TURNO" />
  <xs:complexType name="HOR_CAT_TURNO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDTURNO" type="xs:short" />
      <xs:element minOccurs="0" name="NOMBRETURNO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HOR_CAT_TURNO" nillable="true" type="tns:HOR_CAT_TURNO" />
  <xs:complexType name="ArrayOfHOR_CAT_DIAS_SEMANA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HOR_CAT_DIAS_SEMANA" nillable="true" type="tns:HOR_CAT_DIAS_SEMANA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHOR_CAT_DIAS_SEMANA" nillable="true" type="tns:ArrayOfHOR_CAT_DIAS_SEMANA" />
  <xs:complexType name="HOR_CAT_DIAS_SEMANA">
    <xs:sequence>
      <xs:element minOccurs="0" name="DIASEMANA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDDIA" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HOR_CAT_DIAS_SEMANA" nillable="true" type="tns:HOR_CAT_DIAS_SEMANA" />
  <xs:complexType name="ArrayOfCAR_CAT_ESPECIALIDAD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAR_CAT_ESPECIALIDAD" nillable="true" type="tns:CAR_CAT_ESPECIALIDAD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAR_CAT_ESPECIALIDAD" nillable="true" type="tns:ArrayOfCAR_CAT_ESPECIALIDAD" />
  <xs:complexType name="CAR_CAT_ESPECIALIDAD">
    <xs:sequence>
      <xs:element minOccurs="0" name="ESPECIALIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDESPECIALIDAD" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAR_CAT_ESPECIALIDAD" nillable="true" type="tns:CAR_CAT_ESPECIALIDAD" />
  <xs:complexType name="ArrayOfCAL_CAT_TIPO_EVALUACION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAL_CAT_TIPO_EVALUACION" nillable="true" type="tns:CAL_CAT_TIPO_EVALUACION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAL_CAT_TIPO_EVALUACION" nillable="true" type="tns:ArrayOfCAL_CAT_TIPO_EVALUACION" />
  <xs:complexType name="CAL_CAT_TIPO_EVALUACION">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDTIPOEVALUACION" type="xs:short" />
      <xs:element minOccurs="0" name="TIPOEVALUACION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAL_CAT_TIPO_EVALUACION" nillable="true" type="tns:CAL_CAT_TIPO_EVALUACION" />
  <xs:complexType name="ArrayOfHOR_CAT_HORAS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HOR_CAT_HORAS" nillable="true" type="tns:HOR_CAT_HORAS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHOR_CAT_HORAS" nillable="true" type="tns:ArrayOfHOR_CAT_HORAS" />
  <xs:complexType name="HOR_CAT_HORAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HORAINICIO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HORATERMINO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDHORA" type="xs:short" />
      <xs:element minOccurs="0" name="IDTURNO" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="NOMBREHORA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HOR_CAT_HORAS" nillable="true" type="tns:HOR_CAT_HORAS" />
  <xs:complexType name="ArrayOfCAR_CAT_CARRERAS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAR_CAT_CARRERAS" nillable="true" type="tns:CAR_CAT_CARRERAS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAR_CAT_CARRERAS" nillable="true" type="tns:ArrayOfCAR_CAT_CARRERAS" />
  <xs:complexType name="CAR_CAT_CARRERAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDCARRERA" type="xs:short" />
      <xs:element minOccurs="0" name="IDESPECIALIDAD" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="NOMBRECARRERA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAR_CAT_CARRERAS" nillable="true" type="tns:CAR_CAT_CARRERAS" />
  <xs:complexType name="ArrayOfMAT_CAT_MATERIAS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MAT_CAT_MATERIAS" nillable="true" type="tns:MAT_CAT_MATERIAS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMAT_CAT_MATERIAS" nillable="true" type="tns:ArrayOfMAT_CAT_MATERIAS" />
  <xs:complexType name="MAT_CAT_MATERIAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREDITOS" type="xs:decimal" />
      <xs:element minOccurs="0" name="IDMATERIA" type="xs:short" />
      <xs:element minOccurs="0" name="NOMBREMATERIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPTATIVA" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MAT_CAT_MATERIAS" nillable="true" type="tns:MAT_CAT_MATERIAS" />
  <xs:complexType name="ArrayOfMAT_CAT_CREDITOS_POR_HORAS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MAT_CAT_CREDITOS_POR_HORAS" nillable="true" type="tns:MAT_CAT_CREDITOS_POR_HORAS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMAT_CAT_CREDITOS_POR_HORAS" nillable="true" type="tns:ArrayOfMAT_CAT_CREDITOS_POR_HORAS" />
  <xs:complexType name="MAT_CAT_CREDITOS_POR_HORAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREDITOSMAXIMOS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CREDITOSMINIMOS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HORASMAXIMASPORSEMANA" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HORASMINIMASPORSEMANA" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HORASTOTALESPORSEMESTRE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IDCREDITOS" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MAT_CAT_CREDITOS_POR_HORAS" nillable="true" type="tns:MAT_CAT_CREDITOS_POR_HORAS" />
</xs:schema>