Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SvcGestionCatalogos/S_GestionCatalogos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="S_GestionCatalogos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Catalogos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IS_GestionCatalogos_ObtenListaAUL_CAT_TIPO_AULA_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaAUL_CAT_TIPO_AULA" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenListaAUL_CAT_TIPO_AULA_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaAUL_CAT_TIPO_AULAResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_InsertaRegistroAUL_CAT_TIPO_AULA_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaRegistroAUL_CAT_TIPO_AULA" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_InsertaRegistroAUL_CAT_TIPO_AULA_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaRegistroAUL_CAT_TIPO_AULAResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_EliminaRegistroAUL_CAT_TIPO_AULA_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaRegistroAUL_CAT_TIPO_AULA" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_EliminaRegistroAUL_CAT_TIPO_AULA_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaRegistroAUL_CAT_TIPO_AULAResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatalogosSistemas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatalogosSistemas" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatalogosSistemas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatalogosSistemasResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ActualizaRegistroAUL_CAT_TIPO_AULA_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaRegistroAUL_CAT_TIPO_AULA" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ActualizaRegistroAUL_CAT_TIPO_AULA_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaRegistroAUL_CAT_TIPO_AULAResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablaUsCatTipoUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablaUsCatTipoUsuarios" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablaUsCatTipoUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablaUsCatTipoUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablaUsCatNivelUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablaUsCatNivelUsuario" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablaUsCatNivelUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablaUsCatNivelUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablaUsCatEstatusUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablaUsCatEstatusUsuario" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablaUsCatEstatusUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablaUsCatEstatusUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatTipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatTipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatTipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatTipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatalogoNacionalidades_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatalogoNacionalidades" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatalogoNacionalidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatalogoNacionalidadesResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatTipoPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatTipoPersona" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatTipoPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatTipoPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenColoniasPorCp_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenColoniasPorCp" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenColoniasPorCp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenColoniasPorCpResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatEstados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatEstados" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatEstados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatEstadosResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenMunicipios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenMunicipios" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenMunicipios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenMunicipiosResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenColonias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenColonias" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenColonias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenColoniasResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCodigoPostal_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCodigoPostal" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCodigoPostal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCodigoPostalResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablasCatalogos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablasCatalogos" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablasCatalogos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablasCatalogosResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatalogosColonias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatalogosColonias" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatalogosColonias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatalogosColoniasResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatalogosMunicipios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatalogosMunicipios" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatalogosMunicipios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatalogosMunicipiosResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenListaHorCatTurno_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaHorCatTurno" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenListaHorCatTurno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaHorCatTurnoResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_InsertaHorCatTurno_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaHorCatTurno" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_InsertaHorCatTurno_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaHorCatTurnoResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ActualizaHorCatTurno_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaHorCatTurno" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ActualizaHorCatTurno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaHorCatTurnoResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_EliminaHorCatTurno_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaHorCatTurno" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_EliminaHorCatTurno_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaHorCatTurnoResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ExtraeHorCatTurno_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtraeHorCatTurno" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ExtraeHorCatTurno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtraeHorCatTurnoResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenListaHorCatDiasSemana_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaHorCatDiasSemana" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenListaHorCatDiasSemana_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaHorCatDiasSemanaResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_InsertaHorCatDiasSemana_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaHorCatDiasSemana" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_InsertaHorCatDiasSemana_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaHorCatDiasSemanaResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ActualizaHorCatDiasSemana_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaHorCatDiasSemana" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ActualizaHorCatDiasSemana_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaHorCatDiasSemanaResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_EliminaHorCatDiasSemana_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaHorCatDiasSemana" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_EliminaHorCatDiasSemana_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaHorCatDiasSemanaResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ExtraerHorCatDiasSemana_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtraerHorCatDiasSemana" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ExtraerHorCatDiasSemana_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtraerHorCatDiasSemanaResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenListaAulCatTipoAula_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaAulCatTipoAula" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenListaAulCatTipoAula_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaAulCatTipoAulaResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_InsertaAulCatTipoAula_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaAulCatTipoAula" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_InsertaAulCatTipoAula_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaAulCatTipoAulaResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ActualizaAulCatTipoAula_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaAulCatTipoAula" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ActualizaAulCatTipoAula_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaAulCatTipoAulaResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_EliminaAulCatTipoAula_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaAulCatTipoAula" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_EliminaAulCatTipoAula_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaAulCatTipoAulaResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ExtraerAulCatTipoAula_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtraerAulCatTipoAula" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ExtraerAulCatTipoAula_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtraerAulCatTipoAulaResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenListaCarCatEspecialidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaCarCatEspecialidad" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenListaCarCatEspecialidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaCarCatEspecialidadResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_InsertaCarCatEspecialidad_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaCarCatEspecialidad" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_InsertaCarCatEspecialidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaCarCatEspecialidadResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ActualizaCarCatEspecialidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaCarCatEspecialidad" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ActualizaCarCatEspecialidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaCarCatEspecialidadResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_EliminaCarCatEspecialidad_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaCarCatEspecialidad" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_EliminaCarCatEspecialidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaCarCatEspecialidadResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ExtraerCarCatEspecialidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtraerCarCatEspecialidad" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ExtraerCarCatEspecialidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtraerCarCatEspecialidadResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenListaCalCatTipoEvaluacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaCalCatTipoEvaluacion" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenListaCalCatTipoEvaluacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaCalCatTipoEvaluacionResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_InsertaCalCatTipoEvaluacion_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaCalCatTipoEvaluacion" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_InsertaCalCatTipoEvaluacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaCalCatTipoEvaluacionResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ActualizaCalCatTipoEvaluacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaCalCatTipoEvaluacion" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ActualizaCalCatTipoEvaluacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaCalCatTipoEvaluacionResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_EliminaCalCatTipoEvaluacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaCalCatTipoEvaluacion" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_EliminaCalCatTipoEvaluacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaCalCatTipoEvaluacionResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ExtraerCalCatTipoEvaluacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtraerCalCatTipoEvaluacion" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ExtraerCalCatTipoEvaluacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtraerCalCatTipoEvaluacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IS_GestionCatalogos">
    <wsdl:operation name="ObtenListaAUL_CAT_TIPO_AULA">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenListaAUL_CAT_TIPO_AULA" message="tns:IS_GestionCatalogos_ObtenListaAUL_CAT_TIPO_AULA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenListaAUL_CAT_TIPO_AULAResponse" message="tns:IS_GestionCatalogos_ObtenListaAUL_CAT_TIPO_AULA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaRegistroAUL_CAT_TIPO_AULA">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/InsertaRegistroAUL_CAT_TIPO_AULA" message="tns:IS_GestionCatalogos_InsertaRegistroAUL_CAT_TIPO_AULA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/InsertaRegistroAUL_CAT_TIPO_AULAResponse" message="tns:IS_GestionCatalogos_InsertaRegistroAUL_CAT_TIPO_AULA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaRegistroAUL_CAT_TIPO_AULA">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/EliminaRegistroAUL_CAT_TIPO_AULA" message="tns:IS_GestionCatalogos_EliminaRegistroAUL_CAT_TIPO_AULA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/EliminaRegistroAUL_CAT_TIPO_AULAResponse" message="tns:IS_GestionCatalogos_EliminaRegistroAUL_CAT_TIPO_AULA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCatalogosSistemas">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogosSistemas" message="tns:IS_GestionCatalogos_ObtenCatalogosSistemas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogosSistemasResponse" message="tns:IS_GestionCatalogos_ObtenCatalogosSistemas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaRegistroAUL_CAT_TIPO_AULA">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ActualizaRegistroAUL_CAT_TIPO_AULA" message="tns:IS_GestionCatalogos_ActualizaRegistroAUL_CAT_TIPO_AULA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ActualizaRegistroAUL_CAT_TIPO_AULAResponse" message="tns:IS_GestionCatalogos_ActualizaRegistroAUL_CAT_TIPO_AULA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenTablaUsCatTipoUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatTipoUsuarios" message="tns:IS_GestionCatalogos_ObtenTablaUsCatTipoUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatTipoUsuariosResponse" message="tns:IS_GestionCatalogos_ObtenTablaUsCatTipoUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenTablaUsCatNivelUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatNivelUsuario" message="tns:IS_GestionCatalogos_ObtenTablaUsCatNivelUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatNivelUsuarioResponse" message="tns:IS_GestionCatalogos_ObtenTablaUsCatNivelUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenTablaUsCatEstatusUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatEstatusUsuario" message="tns:IS_GestionCatalogos_ObtenTablaUsCatEstatusUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatEstatusUsuarioResponse" message="tns:IS_GestionCatalogos_ObtenTablaUsCatEstatusUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCatTipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatTipoUsuario" message="tns:IS_GestionCatalogos_ObtenCatTipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatTipoUsuarioResponse" message="tns:IS_GestionCatalogos_ObtenCatTipoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCatalogoNacionalidades">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogoNacionalidades" message="tns:IS_GestionCatalogos_ObtenCatalogoNacionalidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogoNacionalidadesResponse" message="tns:IS_GestionCatalogos_ObtenCatalogoNacionalidades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCatTipoPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatTipoPersona" message="tns:IS_GestionCatalogos_ObtenCatTipoPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatTipoPersonaResponse" message="tns:IS_GestionCatalogos_ObtenCatTipoPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenColoniasPorCp">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenColoniasPorCp" message="tns:IS_GestionCatalogos_ObtenColoniasPorCp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenColoniasPorCpResponse" message="tns:IS_GestionCatalogos_ObtenColoniasPorCp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCatEstados">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatEstados" message="tns:IS_GestionCatalogos_ObtenCatEstados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatEstadosResponse" message="tns:IS_GestionCatalogos_ObtenCatEstados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenMunicipios">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenMunicipios" message="tns:IS_GestionCatalogos_ObtenMunicipios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenMunicipiosResponse" message="tns:IS_GestionCatalogos_ObtenMunicipios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenColonias">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenColonias" message="tns:IS_GestionCatalogos_ObtenColonias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenColoniasResponse" message="tns:IS_GestionCatalogos_ObtenColonias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCodigoPostal">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCodigoPostal" message="tns:IS_GestionCatalogos_ObtenCodigoPostal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCodigoPostalResponse" message="tns:IS_GestionCatalogos_ObtenCodigoPostal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenTablasCatalogos">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablasCatalogos" message="tns:IS_GestionCatalogos_ObtenTablasCatalogos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablasCatalogosResponse" message="tns:IS_GestionCatalogos_ObtenTablasCatalogos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCatalogosColonias">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogosColonias" message="tns:IS_GestionCatalogos_ObtenCatalogosColonias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogosColoniasResponse" message="tns:IS_GestionCatalogos_ObtenCatalogosColonias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCatalogosMunicipios">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogosMunicipios" message="tns:IS_GestionCatalogos_ObtenCatalogosMunicipios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogosMunicipiosResponse" message="tns:IS_GestionCatalogos_ObtenCatalogosMunicipios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenListaHorCatTurno">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenListaHorCatTurno" message="tns:IS_GestionCatalogos_ObtenListaHorCatTurno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenListaHorCatTurnoResponse" message="tns:IS_GestionCatalogos_ObtenListaHorCatTurno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaHorCatTurno">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/InsertaHorCatTurno" message="tns:IS_GestionCatalogos_InsertaHorCatTurno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/InsertaHorCatTurnoResponse" message="tns:IS_GestionCatalogos_InsertaHorCatTurno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaHorCatTurno">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ActualizaHorCatTurno" message="tns:IS_GestionCatalogos_ActualizaHorCatTurno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ActualizaHorCatTurnoResponse" message="tns:IS_GestionCatalogos_ActualizaHorCatTurno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaHorCatTurno">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/EliminaHorCatTurno" message="tns:IS_GestionCatalogos_EliminaHorCatTurno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/EliminaHorCatTurnoResponse" message="tns:IS_GestionCatalogos_EliminaHorCatTurno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExtraeHorCatTurno">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ExtraeHorCatTurno" message="tns:IS_GestionCatalogos_ExtraeHorCatTurno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ExtraeHorCatTurnoResponse" message="tns:IS_GestionCatalogos_ExtraeHorCatTurno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenListaHorCatDiasSemana">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenListaHorCatDiasSemana" message="tns:IS_GestionCatalogos_ObtenListaHorCatDiasSemana_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenListaHorCatDiasSemanaResponse" message="tns:IS_GestionCatalogos_ObtenListaHorCatDiasSemana_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaHorCatDiasSemana">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/InsertaHorCatDiasSemana" message="tns:IS_GestionCatalogos_InsertaHorCatDiasSemana_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/InsertaHorCatDiasSemanaResponse" message="tns:IS_GestionCatalogos_InsertaHorCatDiasSemana_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaHorCatDiasSemana">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ActualizaHorCatDiasSemana" message="tns:IS_GestionCatalogos_ActualizaHorCatDiasSemana_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ActualizaHorCatDiasSemanaResponse" message="tns:IS_GestionCatalogos_ActualizaHorCatDiasSemana_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaHorCatDiasSemana">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/EliminaHorCatDiasSemana" message="tns:IS_GestionCatalogos_EliminaHorCatDiasSemana_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/EliminaHorCatDiasSemanaResponse" message="tns:IS_GestionCatalogos_EliminaHorCatDiasSemana_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExtraerHorCatDiasSemana">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ExtraerHorCatDiasSemana" message="tns:IS_GestionCatalogos_ExtraerHorCatDiasSemana_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ExtraerHorCatDiasSemanaResponse" message="tns:IS_GestionCatalogos_ExtraerHorCatDiasSemana_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenListaAulCatTipoAula">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenListaAulCatTipoAula" message="tns:IS_GestionCatalogos_ObtenListaAulCatTipoAula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenListaAulCatTipoAulaResponse" message="tns:IS_GestionCatalogos_ObtenListaAulCatTipoAula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaAulCatTipoAula">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/InsertaAulCatTipoAula" message="tns:IS_GestionCatalogos_InsertaAulCatTipoAula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/InsertaAulCatTipoAulaResponse" message="tns:IS_GestionCatalogos_InsertaAulCatTipoAula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaAulCatTipoAula">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ActualizaAulCatTipoAula" message="tns:IS_GestionCatalogos_ActualizaAulCatTipoAula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ActualizaAulCatTipoAulaResponse" message="tns:IS_GestionCatalogos_ActualizaAulCatTipoAula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaAulCatTipoAula">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/EliminaAulCatTipoAula" message="tns:IS_GestionCatalogos_EliminaAulCatTipoAula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/EliminaAulCatTipoAulaResponse" message="tns:IS_GestionCatalogos_EliminaAulCatTipoAula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExtraerAulCatTipoAula">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ExtraerAulCatTipoAula" message="tns:IS_GestionCatalogos_ExtraerAulCatTipoAula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ExtraerAulCatTipoAulaResponse" message="tns:IS_GestionCatalogos_ExtraerAulCatTipoAula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenListaCarCatEspecialidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenListaCarCatEspecialidad" message="tns:IS_GestionCatalogos_ObtenListaCarCatEspecialidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenListaCarCatEspecialidadResponse" message="tns:IS_GestionCatalogos_ObtenListaCarCatEspecialidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaCarCatEspecialidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/InsertaCarCatEspecialidad" message="tns:IS_GestionCatalogos_InsertaCarCatEspecialidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/InsertaCarCatEspecialidadResponse" message="tns:IS_GestionCatalogos_InsertaCarCatEspecialidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaCarCatEspecialidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ActualizaCarCatEspecialidad" message="tns:IS_GestionCatalogos_ActualizaCarCatEspecialidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ActualizaCarCatEspecialidadResponse" message="tns:IS_GestionCatalogos_ActualizaCarCatEspecialidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaCarCatEspecialidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/EliminaCarCatEspecialidad" message="tns:IS_GestionCatalogos_EliminaCarCatEspecialidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/EliminaCarCatEspecialidadResponse" message="tns:IS_GestionCatalogos_EliminaCarCatEspecialidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExtraerCarCatEspecialidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ExtraerCarCatEspecialidad" message="tns:IS_GestionCatalogos_ExtraerCarCatEspecialidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ExtraerCarCatEspecialidadResponse" message="tns:IS_GestionCatalogos_ExtraerCarCatEspecialidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenListaCalCatTipoEvaluacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenListaCalCatTipoEvaluacion" message="tns:IS_GestionCatalogos_ObtenListaCalCatTipoEvaluacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenListaCalCatTipoEvaluacionResponse" message="tns:IS_GestionCatalogos_ObtenListaCalCatTipoEvaluacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaCalCatTipoEvaluacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/InsertaCalCatTipoEvaluacion" message="tns:IS_GestionCatalogos_InsertaCalCatTipoEvaluacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/InsertaCalCatTipoEvaluacionResponse" message="tns:IS_GestionCatalogos_InsertaCalCatTipoEvaluacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaCalCatTipoEvaluacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ActualizaCalCatTipoEvaluacion" message="tns:IS_GestionCatalogos_ActualizaCalCatTipoEvaluacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ActualizaCalCatTipoEvaluacionResponse" message="tns:IS_GestionCatalogos_ActualizaCalCatTipoEvaluacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaCalCatTipoEvaluacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/EliminaCalCatTipoEvaluacion" message="tns:IS_GestionCatalogos_EliminaCalCatTipoEvaluacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/EliminaCalCatTipoEvaluacionResponse" message="tns:IS_GestionCatalogos_EliminaCalCatTipoEvaluacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExtraerCalCatTipoEvaluacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ExtraerCalCatTipoEvaluacion" message="tns:IS_GestionCatalogos_ExtraerCalCatTipoEvaluacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ExtraerCalCatTipoEvaluacionResponse" message="tns:IS_GestionCatalogos_ExtraerCalCatTipoEvaluacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IS_GestionCatalogos" type="tns:IS_GestionCatalogos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenListaAUL_CAT_TIPO_AULA">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenListaAUL_CAT_TIPO_AULA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaRegistroAUL_CAT_TIPO_AULA">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/InsertaRegistroAUL_CAT_TIPO_AULA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaRegistroAUL_CAT_TIPO_AULA">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/EliminaRegistroAUL_CAT_TIPO_AULA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCatalogosSistemas">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogosSistemas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaRegistroAUL_CAT_TIPO_AULA">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ActualizaRegistroAUL_CAT_TIPO_AULA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenTablaUsCatTipoUsuarios">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatTipoUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenTablaUsCatNivelUsuario">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatNivelUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenTablaUsCatEstatusUsuario">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatEstatusUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCatTipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCatTipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCatalogoNacionalidades">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogoNacionalidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCatTipoPersona">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCatTipoPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenColoniasPorCp">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenColoniasPorCp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCatEstados">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCatEstados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenMunicipios">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenMunicipios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenColonias">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenColonias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCodigoPostal">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCodigoPostal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenTablasCatalogos">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenTablasCatalogos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCatalogosColonias">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogosColonias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCatalogosMunicipios">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogosMunicipios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenListaHorCatTurno">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenListaHorCatTurno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaHorCatTurno">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/InsertaHorCatTurno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaHorCatTurno">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ActualizaHorCatTurno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaHorCatTurno">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/EliminaHorCatTurno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtraeHorCatTurno">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ExtraeHorCatTurno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenListaHorCatDiasSemana">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenListaHorCatDiasSemana" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaHorCatDiasSemana">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/InsertaHorCatDiasSemana" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaHorCatDiasSemana">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ActualizaHorCatDiasSemana" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaHorCatDiasSemana">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/EliminaHorCatDiasSemana" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtraerHorCatDiasSemana">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ExtraerHorCatDiasSemana" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenListaAulCatTipoAula">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenListaAulCatTipoAula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaAulCatTipoAula">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/InsertaAulCatTipoAula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaAulCatTipoAula">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ActualizaAulCatTipoAula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaAulCatTipoAula">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/EliminaAulCatTipoAula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtraerAulCatTipoAula">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ExtraerAulCatTipoAula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenListaCarCatEspecialidad">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenListaCarCatEspecialidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaCarCatEspecialidad">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/InsertaCarCatEspecialidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaCarCatEspecialidad">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ActualizaCarCatEspecialidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaCarCatEspecialidad">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/EliminaCarCatEspecialidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtraerCarCatEspecialidad">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ExtraerCarCatEspecialidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenListaCalCatTipoEvaluacion">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenListaCalCatTipoEvaluacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaCalCatTipoEvaluacion">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/InsertaCalCatTipoEvaluacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaCalCatTipoEvaluacion">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ActualizaCalCatTipoEvaluacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaCalCatTipoEvaluacion">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/EliminaCalCatTipoEvaluacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtraerCalCatTipoEvaluacion">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ExtraerCalCatTipoEvaluacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="S_GestionCatalogos">
    <wsdl:port name="BasicHttpBinding_IS_GestionCatalogos" binding="tns:BasicHttpBinding_IS_GestionCatalogos">
      <soap:address location="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>