Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SvcGestionCatalogos/S_GestionCatalogos3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Catalogos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Catalogos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCatalogosSistema">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogosSistema" nillable="true" type="tns:CatalogosSistema" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogosSistema" nillable="true" type="tns:ArrayOfCatalogosSistema" />
  <xs:complexType name="CatalogosSistema">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreTabla" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogosSistema" nillable="true" type="tns:CatalogosSistema" />
  <xs:complexType name="ArrayOfListasGenerica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListasGenerica" nillable="true" type="tns:ListasGenerica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListasGenerica" nillable="true" type="tns:ArrayOfListasGenerica" />
  <xs:complexType name="ListasGenerica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Binario" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CampoAdicional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListasGenerica" nillable="true" type="tns:ListasGenerica" />
</xs:schema>