Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SvcGestionCatalogos/S_GestionCatalogos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Catalogos" />
  <xs:element name="ObtenListaAUL_CAT_TIPO_AULA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaAUL_CAT_TIPO_AULAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenListaAUL_CAT_TIPO_AULAResult" nillable="true" type="q1:ArrayOfAUL_CAT_TIPO_AULA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaRegistroAUL_CAT_TIPO_AULA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q2:AUL_CAT_TIPO_AULA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaRegistroAUL_CAT_TIPO_AULAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="InsertaRegistroAUL_CAT_TIPO_AULAResult" nillable="true" type="q3:AUL_CAT_TIPO_AULA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaRegistroAUL_CAT_TIPO_AULA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoAula" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaRegistroAUL_CAT_TIPO_AULAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaRegistroAUL_CAT_TIPO_AULAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatalogosSistemas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatalogosSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Catalogos" minOccurs="0" name="ObtenCatalogosSistemasResult" nillable="true" type="q4:ArrayOfCatalogosSistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaRegistroAUL_CAT_TIPO_AULA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q5:AUL_CAT_TIPO_AULA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaRegistroAUL_CAT_TIPO_AULAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaRegistroAUL_CAT_TIPO_AULAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablaUsCatTipoUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablaUsCatTipoUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenTablaUsCatTipoUsuariosResult" nillable="true" type="q6:ArrayOfUS_CAT_TIPO_USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablaUsCatNivelUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablaUsCatNivelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenTablaUsCatNivelUsuarioResult" nillable="true" type="q7:ArrayOfUS_CAT_NIVEL_USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablaUsCatEstatusUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablaUsCatEstatusUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenTablaUsCatEstatusUsuarioResult" nillable="true" type="q8:ArrayOfUS_CAT_ESTATUS_USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatTipoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatTipoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenCatTipoUsuarioResult" nillable="true" type="q9:US_CAT_TIPO_USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatalogoNacionalidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatalogoNacionalidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenCatalogoNacionalidadesResult" nillable="true" type="q10:ArrayOfPER_CAT_NACIONALIDAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatTipoPersona">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatTipoPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenCatTipoPersonaResult" nillable="true" type="q11:ArrayOfPER_CAT_TIPO_PERSONA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenColoniasPorCp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPostal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenColoniasPorCpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenColoniasPorCpResult" nillable="true" type="q12:ArrayOfDIR_CAT_COLONIAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenCatEstadosResult" nillable="true" type="q13:ArrayOfDIR_CAT_ESTADO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenMunicipios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenMunicipiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenMunicipiosResult" nillable="true" type="q14:ArrayOfDIR_CAT_DELG_MUNICIPIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenColonias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" type="xs:int" />
        <xs:element minOccurs="0" name="municipio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenColoniasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenColoniasResult" nillable="true" type="q15:ArrayOfDIR_CAT_COLONIAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCodigoPostal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" type="xs:int" />
        <xs:element minOccurs="0" name="municipio" type="xs:int" />
        <xs:element minOccurs="0" name="colonia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCodigoPostalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenCodigoPostalResult" nillable="true" type="q16:DIR_CAT_COLONIAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablasCatalogos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablasCatalogosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Catalogos" minOccurs="0" name="ObtenTablasCatalogosResult" nillable="true" type="q17:ArrayOfListasGenerica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatalogosColonias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatalogosColoniasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenCatalogosColoniasResult" nillable="true" type="q18:ArrayOfDIR_CAT_COLONIAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatalogosMunicipios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatalogosMunicipiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenCatalogosMunicipiosResult" nillable="true" type="q19:ArrayOfDIR_CAT_DELG_MUNICIPIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaHorCatTurno">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaHorCatTurnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenListaHorCatTurnoResult" nillable="true" type="q20:ArrayOfHOR_CAT_TURNO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaHorCatTurno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q21:HOR_CAT_TURNO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaHorCatTurnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="InsertaHorCatTurnoResult" nillable="true" type="q22:HOR_CAT_TURNO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaHorCatTurno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q23:HOR_CAT_TURNO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaHorCatTurnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaHorCatTurnoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaHorCatTurno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q24:HOR_CAT_TURNO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaHorCatTurnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaHorCatTurnoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraeHorCatTurno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTurno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraeHorCatTurnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ExtraeHorCatTurnoResult" nillable="true" type="q25:HOR_CAT_TURNO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaHorCatDiasSemana">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaHorCatDiasSemanaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenListaHorCatDiasSemanaResult" nillable="true" type="q26:ArrayOfHOR_CAT_DIAS_SEMANA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaHorCatDiasSemana">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q27:HOR_CAT_DIAS_SEMANA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaHorCatDiasSemanaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="InsertaHorCatDiasSemanaResult" nillable="true" type="q28:HOR_CAT_DIAS_SEMANA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaHorCatDiasSemana">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q29:HOR_CAT_DIAS_SEMANA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaHorCatDiasSemanaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaHorCatDiasSemanaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaHorCatDiasSemana">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q30:HOR_CAT_DIAS_SEMANA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaHorCatDiasSemanaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaHorCatDiasSemanaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraerHorCatDiasSemana">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTurno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraerHorCatDiasSemanaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ExtraerHorCatDiasSemanaResult" nillable="true" type="q31:HOR_CAT_DIAS_SEMANA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaAulCatTipoAula">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaAulCatTipoAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenListaAulCatTipoAulaResult" nillable="true" type="q32:ArrayOfAUL_CAT_TIPO_AULA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaAulCatTipoAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q33:AUL_CAT_TIPO_AULA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaAulCatTipoAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="InsertaAulCatTipoAulaResult" nillable="true" type="q34:AUL_CAT_TIPO_AULA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaAulCatTipoAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q35:AUL_CAT_TIPO_AULA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaAulCatTipoAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaAulCatTipoAulaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaAulCatTipoAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q36:AUL_CAT_TIPO_AULA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaAulCatTipoAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaAulCatTipoAulaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraerAulCatTipoAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTurno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraerAulCatTipoAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ExtraerAulCatTipoAulaResult" nillable="true" type="q37:AUL_CAT_TIPO_AULA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaCarCatEspecialidad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaCarCatEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenListaCarCatEspecialidadResult" nillable="true" type="q38:ArrayOfCAR_CAT_ESPECIALIDAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaCarCatEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q39:CAR_CAT_ESPECIALIDAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaCarCatEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="InsertaCarCatEspecialidadResult" nillable="true" type="q40:CAR_CAT_ESPECIALIDAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaCarCatEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q41:CAR_CAT_ESPECIALIDAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaCarCatEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaCarCatEspecialidadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaCarCatEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q42:CAR_CAT_ESPECIALIDAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaCarCatEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaCarCatEspecialidadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraerCarCatEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraerCarCatEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ExtraerCarCatEspecialidadResult" nillable="true" type="q43:CAR_CAT_ESPECIALIDAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaCalCatTipoEvaluacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaCalCatTipoEvaluacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenListaCalCatTipoEvaluacionResult" nillable="true" type="q44:ArrayOfCAL_CAT_TIPO_EVALUACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaCalCatTipoEvaluacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q45:CAL_CAT_TIPO_EVALUACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaCalCatTipoEvaluacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="InsertaCalCatTipoEvaluacionResult" nillable="true" type="q46:CAL_CAT_TIPO_EVALUACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaCalCatTipoEvaluacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q47:CAL_CAT_TIPO_EVALUACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaCalCatTipoEvaluacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaCalCatTipoEvaluacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaCalCatTipoEvaluacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="registro" nillable="true" type="q48:CAL_CAT_TIPO_EVALUACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaCalCatTipoEvaluacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaCalCatTipoEvaluacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraerCalCatTipoEvaluacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtraerCalCatTipoEvaluacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ExtraerCalCatTipoEvaluacionResult" nillable="true" type="q49:CAL_CAT_TIPO_EVALUACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>