Proyectos Trabajos/Netropology/Documetacion/IMPRA 2.0 20131030/Backup/PAEEEM.Helpers/Web References/PersonaMoral1/PersonaMoral.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://10.55.210.48:8078/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://10.55.210.48:8078/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://10.55.210.48:8078/">
      <s:element name="enviarPaqueteConsulta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPostal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colonia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numSolicitud" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enviarPaqueteConsultaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enviarPaqueteConsultaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="enviarPaqueteConsultaSoapIn">
    <wsdl:part name="parameters" element="tns:enviarPaqueteConsulta" />
  </wsdl:message>
  <wsdl:message name="enviarPaqueteConsultaSoapOut">
    <wsdl:part name="parameters" element="tns:enviarPaqueteConsultaResponse" />
  </wsdl:message>
  <wsdl:portType name="PersonaMoralSoap">
    <wsdl:operation name="enviarPaqueteConsulta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método que envía la información del Crédito por medio de una petición por TELNET al Servidor de Círculo de Crédito</wsdl:documentation>
      <wsdl:input message="tns:enviarPaqueteConsultaSoapIn" />
      <wsdl:output message="tns:enviarPaqueteConsultaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonaMoralSoap" type="tns:PersonaMoralSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enviarPaqueteConsulta">
      <soap:operation soapAction="http://10.55.210.48:8078/enviarPaqueteConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PersonaMoralSoap12" type="tns:PersonaMoralSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enviarPaqueteConsulta">
      <soap12:operation soapAction="http://10.55.210.48:8078/enviarPaqueteConsulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaMoral">
    <wsdl:port name="PersonaMoralSoap" binding="tns:PersonaMoralSoap">
      <soap:address location="http://10.55.210.48:8078/PersonaMoral.asmx" />
    </wsdl:port>
    <wsdl:port name="PersonaMoralSoap12" binding="tns:PersonaMoralSoap12">
      <soap12:address location="http://10.55.210.48:8078/PersonaMoral.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>