Proyectos Trabajos/Entrytec/eClock/eClockServices/App_WebReferences/ES_Report/S_Report.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:51840/S_Report.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:51840/S_Report.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="S_Report_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="S_Report_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="S_Report_ObtenReporte_InputMessage">
    <wsdl:part name="parameters" element="ObtenReporte" />
  </wsdl:message>
  <wsdl:message name="S_Report_ObtenReporte_OutputMessage">
    <wsdl:part name="parameters" element="ObtenReporteResponse" />
  </wsdl:message>
  <wsdl:portType name="S_Report">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:S_Report/DoWork" message="S_Report_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Report/DoWorkResponse" message="S_Report_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenReporte">
      <wsdl:input wsaw:Action="urn:S_Report/ObtenReporte" message="S_Report_ObtenReporte_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Report/ObtenReporteResponse" message="S_Report_ObtenReporte_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>