Proyectos Personales/Broxel/Proyecto/Broxel/Broxel.Controller/Service References/UsuariosWcf/UsuariosWcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Broxel.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Broxel.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="USUSUARIOS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTRASENA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDESTATUS" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDUSUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="USESTATUS" nillable="true" type="tns:USESTATUS" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USUSUARIOS" nillable="true" type="tns:USUSUARIOS" />
  <xs:complexType name="USESTATUS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDESTATUS" type="xs:int" />
      <xs:element minOccurs="0" name="USUSUARIOS" nillable="true" type="tns:ArrayOfUSUSUARIOS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USESTATUS" nillable="true" type="tns:USESTATUS" />
  <xs:complexType name="ArrayOfUSUSUARIOS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USUSUARIOS" nillable="true" type="tns:USUSUARIOS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSUSUARIOS" nillable="true" type="tns:ArrayOfUSUSUARIOS" />
</xs:schema>