Proyectos Personales/Broxel/Proyecto/Broxel/Broxel.Controller/Service References/UsuariosWcf/UsuariosServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuariosServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4277/Usuarios/UsuariosWcf.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4277/Usuarios/UsuariosWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4277/Usuarios/UsuariosWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Broxel.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuariosWcf_ObtenUsUsuarionPorLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenUsUsuarionPorLogin" />
  </wsdl:message>
  <wsdl:message name="IUsuariosWcf_ObtenUsUsuarionPorLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenUsUsuarionPorLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosWcf_InsertaListaUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaListaUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuariosWcf_InsertaListaUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaListaUsuariosResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuariosWcf">
    <wsdl:operation name="ObtenUsUsuarionPorLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosWcf/ObtenUsUsuarionPorLogin" message="tns:IUsuariosWcf_ObtenUsUsuarionPorLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosWcf/ObtenUsUsuarionPorLoginResponse" message="tns:IUsuariosWcf_ObtenUsUsuarionPorLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaListaUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosWcf/InsertaListaUsuarios" message="tns:IUsuariosWcf_InsertaListaUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosWcf/InsertaListaUsuariosResponse" message="tns:IUsuariosWcf_InsertaListaUsuarios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuariosWcf" type="tns:IUsuariosWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenUsUsuarionPorLogin">
      <soap:operation soapAction="http://tempuri.org/IUsuariosWcf/ObtenUsUsuarionPorLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaListaUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuariosWcf/InsertaListaUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuariosServer">
    <wsdl:port name="BasicHttpBinding_IUsuariosWcf" binding="tns:BasicHttpBinding_IUsuariosWcf">
      <soap:address location="http://localhost:4277/Usuarios/UsuariosWcf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>