Proyectos Personales/Broxel/Proyecto/Broxel/Broxel.Controller/Service References/UsuariosWcf/UsuariosWcf1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4277/Usuarios/UsuariosWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Broxel.Entities.Entidades" />
  <xs:element name="ObtenUsUsuarionPorLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenUsUsuarionPorLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Broxel.Entities.Entidades" minOccurs="0" name="ObtenUsUsuarionPorLoginResult" nillable="true" type="q1:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>