Proyectos Personales/Broxel/Proyecto/Broxel/Broxel.Controller/Service References/UsuariosWcf/UsuariosWcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Broxel.Entities.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Broxel.Entities.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsUsuarios" nillable="true" type="tns:UsUsuarios" />
</xs:schema>