Proyectos Trabajos/Broxel/Utilidades/Sincronizar/Sincronizar/Sincronizar/Service References/BackEndFormiik/BackEnd3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Emlink.Pitzotl.BackEndPipe.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Emlink.Pitzotl.BackEndPipe.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHashTableCompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HashTableCompositeType" nillable="true" type="tns:HashTableCompositeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHashTableCompositeType" nillable="true" type="tns:ArrayOfHashTableCompositeType" />
  <xs:complexType name="HashTableCompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HashTableCompositeType" nillable="true" type="tns:HashTableCompositeType" />
  <xs:complexType name="FormiikOperationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormiikOperationFault" nillable="true" type="tns:FormiikOperationFault" />
</xs:schema>