Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SvcMenuSistema/MenusSistemaS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Universidad.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSIS_AADM_ARBOLMENUS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIS_AADM_ARBOLMENUS" nillable="true" type="tns:SIS_AADM_ARBOLMENUS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIS_AADM_ARBOLMENUS" nillable="true" type="tns:ArrayOfSIS_AADM_ARBOLMENUS" />
  <xs:complexType name="SIS_AADM_ARBOLMENUS">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDMENU" type="xs:int" />
      <xs:element minOccurs="0" name="IDMENUPADRE" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRENODO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUTA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIS_AADM_ARBOLMENUS" nillable="true" type="tns:SIS_AADM_ARBOLMENUS" />
  <xs:complexType name="US_USUARIOS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTRASENA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_ESTATUS_USUARIOS" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NIVEL_USUARIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TIPO_USUARIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="US_USUARIOS" nillable="true" type="tns:US_USUARIOS" />
  <xs:complexType name="ArrayOfSIS_WADM_ARBOLMENU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIS_WADM_ARBOLMENU" nillable="true" type="tns:SIS_WADM_ARBOLMENU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIS_WADM_ARBOLMENU" nillable="true" type="tns:ArrayOfSIS_WADM_ARBOLMENU" />
  <xs:complexType name="SIS_WADM_ARBOLMENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDMENU" type="xs:int" />
      <xs:element minOccurs="0" name="IDMENUPADRE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NIVEL_USUARIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TIPO_USUARIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LINK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIS_WADM_ARBOLMENU" nillable="true" type="tns:SIS_WADM_ARBOLMENU" />
  <xs:complexType name="ArrayOfSIS_WADM_ARBOLMENU_MVC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIS_WADM_ARBOLMENU_MVC" nillable="true" type="tns:SIS_WADM_ARBOLMENU_MVC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIS_WADM_ARBOLMENU_MVC" nillable="true" type="tns:ArrayOfSIS_WADM_ARBOLMENU_MVC" />
  <xs:complexType name="SIS_WADM_ARBOLMENU_MVC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTROLLER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDMENU" type="xs:int" />
      <xs:element minOccurs="0" name="IDMENUPADRE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NIVEL_USUARIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TIPO_USUARIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIS_WADM_ARBOLMENU_MVC" nillable="true" type="tns:SIS_WADM_ARBOLMENU_MVC" />
</xs:schema>