Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SvcMenuSistema/MenusSistemaS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5099/MenuSistema/MenusSistemaS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:5099/MenuSistema/MenusSistemaS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades.ControlUsuario" />
  <xs:element name="TraeArbol">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeArbolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="TraeArbolResult" nillable="true" type="q1:ArrayOfSIS_AADM_ARBOLMENUS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="usuario" nillable="true" type="q2:US_USUARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Universidad.Entidades.ControlUsuario" minOccurs="0" name="TraerMenusResult" nillable="true" type="q3:ArrayOfMenuSistemaE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeArbolMenuWadm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="usuario" nillable="true" type="q4:US_USUARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeArbolMenuWadmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="TraeArbolMenuWadmResult" nillable="true" type="q5:ArrayOfSIS_WADM_ARBOLMENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeArbolMenuMvc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="usuario" nillable="true" type="q6:US_USUARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeArbolMenuMvcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="TraeArbolMenuMvcResult" nillable="true" type="q7:ArrayOfSIS_WADM_ARBOLMENU_MVC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>