Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Periodos/S_Periodos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaDesde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaHasta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EdoPeriodo" type="xs:int" />
        <xs:element minOccurs="0" name="SuscripcionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenListadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>