Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SVRPersonas/SPersonas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5099/Personas/SPersonas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades" />
  <xs:import schemaLocation="http://localhost:5099/Personas/SPersonas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Personas" />
  <xs:element name="ExisteCorreoUniversidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteCorreoUniversidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteCorreoUniversidadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaMediosElectronicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="mediosElectronicos" nillable="true" type="q1:PER_MEDIOS_ELECTRONICOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaMediosElectronicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="InsertaMediosElectronicosResult" nillable="true" type="q2:PER_MEDIOS_ELECTRONICOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="personaTelefonos" nillable="true" type="q3:PER_CAT_TELEFONOS" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="personaMediosElectronicos" nillable="true" type="q4:PER_MEDIOS_ELECTRONICOS" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="personaFotografia" nillable="true" type="q5:PER_FOTOGRAFIA" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="persona" nillable="true" type="q6:PER_PERSONAS" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="personaDirecciones" nillable="true" type="q7:DIR_DIRECCIONES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="InsertarPersonaResult" nillable="true" type="q8:PER_PERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersonaLink" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="BuscarPersonaResult" nillable="true" type="q9:PER_PERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPersonaCompleta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersonaLink" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPersonaCompletaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Personas" minOccurs="0" name="BuscarPersonaCompletaResult" nillable="true" type="q10:DatosCompletosPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>