Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SVRPersonas/SPersonas3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Personas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Personas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DatosCompletosPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Colonia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoPersonal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoUniversidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Curp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtencionFoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fotografia" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IdLinkPersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPersona" type="xs:int" />
      <xs:element minOccurs="0" name="Municipio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nacionalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoInt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreFoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nss" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RedSocial1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RedSocial2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referencias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rfc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoFijoDomicilio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoFijoTrabajo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoMovilPersonal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoMovilTrabajo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosCompletosPersona" nillable="true" type="tns:DatosCompletosPersona" />
</xs:schema>