Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SVRPersonas/SPersonas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5099/Personas/SPersonas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades" />
  <xs:element name="ExisteCorreoUniversidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteCorreoUniversidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteCorreoUniversidadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaMediosElectronicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="mediosElectronicos" nillable="true" type="q1:PER_MEDIOS_ELECTRONICOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaMediosElectronicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="InsertaMediosElectronicosResult" nillable="true" type="q2:PER_MEDIOS_ELECTRONICOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>