Proyectos Trabajos/Entrytec/eClock/eClock/App_WebReferences/WSEmpleado/Empleado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/WSSicossEmpleado/Empleado" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/WSSicossEmpleado/Empleado" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/WSSicossEmpleado/Empleado">
      <s:element name="dbOpen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dbOpenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dbOpenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Coneccion">
        <s:complexType />
      </s:element>
      <s:element name="ConeccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConeccionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dbClose">
        <s:complexType />
      </s:element>
      <s:element name="dbCloseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dbCloseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClienteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TrabID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpleadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaEmpleadosVigentes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClienteID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaEmpleadosVigentesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaEmpleadosVigentesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="dbOpenSoapIn">
    <wsdl:part name="parameters" element="tns:dbOpen" />
  </wsdl:message>
  <wsdl:message name="dbOpenSoapOut">
    <wsdl:part name="parameters" element="tns:dbOpenResponse" />
  </wsdl:message>
  <wsdl:message name="ConeccionSoapIn">
    <wsdl:part name="parameters" element="tns:Coneccion" />
  </wsdl:message>
  <wsdl:message name="ConeccionSoapOut">
    <wsdl:part name="parameters" element="tns:ConeccionResponse" />
  </wsdl:message>
  <wsdl:message name="dbCloseSoapIn">
    <wsdl:part name="parameters" element="tns:dbClose" />
  </wsdl:message>
  <wsdl:message name="dbCloseSoapOut">
    <wsdl:part name="parameters" element="tns:dbCloseResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpleado" />
  </wsdl:message>
  <wsdl:message name="GetEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="ListaEmpleadosVigentesSoapIn">
    <wsdl:part name="parameters" element="tns:ListaEmpleadosVigentes" />
  </wsdl:message>
  <wsdl:message name="ListaEmpleadosVigentesSoapOut">
    <wsdl:part name="parameters" element="tns:ListaEmpleadosVigentesResponse" />
  </wsdl:message>
  <wsdl:portType name="EmpleadoSoap">
    <wsdl:operation name="dbOpen">
      <wsdl:input message="tns:dbOpenSoapIn" />
      <wsdl:output message="tns:dbOpenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Coneccion">
      <wsdl:input message="tns:ConeccionSoapIn" />
      <wsdl:output message="tns:ConeccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dbClose">
      <wsdl:input message="tns:dbCloseSoapIn" />
      <wsdl:output message="tns:dbCloseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpleado">
      <wsdl:input message="tns:GetEmpleadoSoapIn" />
      <wsdl:output message="tns:GetEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaEmpleadosVigentes">
      <wsdl:input message="tns:ListaEmpleadosVigentesSoapIn" />
      <wsdl:output message="tns:ListaEmpleadosVigentesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmpleadoSoap" type="tns:EmpleadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dbOpen">
      <soap:operation soapAction="http://tempuri.org/WSSicossEmpleado/Empleado/dbOpen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Coneccion">
      <soap:operation soapAction="http://tempuri.org/WSSicossEmpleado/Empleado/Coneccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dbClose">
      <soap:operation soapAction="http://tempuri.org/WSSicossEmpleado/Empleado/dbClose" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpleado">
      <soap:operation soapAction="http://tempuri.org/WSSicossEmpleado/Empleado/GetEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaEmpleadosVigentes">
      <soap:operation soapAction="http://tempuri.org/WSSicossEmpleado/Empleado/ListaEmpleadosVigentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmpleadoSoap12" type="tns:EmpleadoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dbOpen">
      <soap12:operation soapAction="http://tempuri.org/WSSicossEmpleado/Empleado/dbOpen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Coneccion">
      <soap12:operation soapAction="http://tempuri.org/WSSicossEmpleado/Empleado/Coneccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dbClose">
      <soap12:operation soapAction="http://tempuri.org/WSSicossEmpleado/Empleado/dbClose" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpleado">
      <soap12:operation soapAction="http://tempuri.org/WSSicossEmpleado/Empleado/GetEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaEmpleadosVigentes">
      <soap12:operation soapAction="http://tempuri.org/WSSicossEmpleado/Empleado/ListaEmpleadosVigentes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Empleado">
    <wsdl:port name="EmpleadoSoap" binding="tns:EmpleadoSoap">
      <soap:address location="http://10.1.35.51/WSSicoss/WSEmpleado/Empleado.asmx" />
    </wsdl:port>
    <wsdl:port name="EmpleadoSoap12" binding="tns:EmpleadoSoap12">
      <soap12:address location="http://10.1.35.51/WSSicoss/WSEmpleado/Empleado.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>