Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Sesion/service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="S_Sesion_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_CreaSesion_InputMessage">
    <wsdl:part name="parameters" element="CreaSesion" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_CreaSesion_OutputMessage">
    <wsdl:part name="parameters" element="CreaSesionResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_CreaSesionAdv_InputMessage">
    <wsdl:part name="parameters" element="CreaSesionAdv" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_CreaSesionAdv_OutputMessage">
    <wsdl:part name="parameters" element="CreaSesionAdvResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_CreaSesionAdvSuscripcion_InputMessage">
    <wsdl:part name="parameters" element="CreaSesionAdvSuscripcion" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_CreaSesionAdvSuscripcion_OutputMessage">
    <wsdl:part name="parameters" element="CreaSesionAdvSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenSesionDatos_InputMessage">
    <wsdl:part name="parameters" element="ObtenSesionDatos" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenSesionDatos_OutputMessage">
    <wsdl:part name="parameters" element="ObtenSesionDatosResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenUsuarioID_InputMessage">
    <wsdl:part name="parameters" element="ObtenUsuarioID" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenUsuarioID_OutputMessage">
    <wsdl:part name="parameters" element="ObtenUsuarioIDResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenSuscripcionID_InputMessage">
    <wsdl:part name="parameters" element="ObtenSuscripcionID" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenSuscripcionID_OutputMessage">
    <wsdl:part name="parameters" element="ObtenSuscripcionIDResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenPerfilID_InputMessage">
    <wsdl:part name="parameters" element="ObtenPerfilID" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenPerfilID_OutputMessage">
    <wsdl:part name="parameters" element="ObtenPerfilIDResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_CierraSesion_InputMessage">
    <wsdl:part name="parameters" element="CierraSesion" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_CierraSesion_OutputMessage">
    <wsdl:part name="parameters" element="CierraSesionResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenListado_InputMessage">
    <wsdl:part name="parameters" element="ObtenListado" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenListado_OutputMessage">
    <wsdl:part name="parameters" element="ObtenListadoResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenListadoCatalogo_InputMessage">
    <wsdl:part name="parameters" element="ObtenListadoCatalogo" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenListadoCatalogo_OutputMessage">
    <wsdl:part name="parameters" element="ObtenListadoCatalogoResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenDatos_InputMessage">
    <wsdl:part name="parameters" element="ObtenDatos" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenDatos_OutputMessage">
    <wsdl:part name="parameters" element="ObtenDatosResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_GuardaDatos_InputMessage">
    <wsdl:part name="parameters" element="GuardaDatos" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_GuardaDatos_OutputMessage">
    <wsdl:part name="parameters" element="GuardaDatosResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_GuardaDatos1aN_InputMessage">
    <wsdl:part name="parameters" element="GuardaDatos1aN" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_GuardaDatos1aN_OutputMessage">
    <wsdl:part name="parameters" element="GuardaDatos1aNResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_BorrarDatos_InputMessage">
    <wsdl:part name="parameters" element="BorrarDatos" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_BorrarDatos_OutputMessage">
    <wsdl:part name="parameters" element="BorrarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenDatosPersona_InputMessage">
    <wsdl:part name="parameters" element="ObtenDatosPersona" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenDatosPersona_OutputMessage">
    <wsdl:part name="parameters" element="ObtenDatosPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenNoCambios_InputMessage">
    <wsdl:part name="parameters" element="ObtenNoCambios" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenNoCambios_OutputMessage">
    <wsdl:part name="parameters" element="ObtenNoCambiosResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_GuardaConsulta_InputMessage">
    <wsdl:part name="parameters" element="GuardaConsulta" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_GuardaConsulta_OutputMessage">
    <wsdl:part name="parameters" element="GuardaConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenImagen_InputMessage">
    <wsdl:part name="parameters" element="ObtenImagen" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenImagen_OutputMessage">
    <wsdl:part name="parameters" element="ObtenImagenResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenImagenThumbnail_InputMessage">
    <wsdl:part name="parameters" element="ObtenImagenThumbnail" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenImagenThumbnail_OutputMessage">
    <wsdl:part name="parameters" element="ObtenImagenThumbnailResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenConfig_InputMessage">
    <wsdl:part name="parameters" element="ObtenConfig" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_ObtenConfig_OutputMessage">
    <wsdl:part name="parameters" element="ObtenConfigResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_GuardaConfig_InputMessage">
    <wsdl:part name="parameters" element="GuardaConfig" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_GuardaConfig_OutputMessage">
    <wsdl:part name="parameters" element="GuardaConfigResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_Importar_InputMessage">
    <wsdl:part name="parameters" element="Importar" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_Importar_OutputMessage">
    <wsdl:part name="parameters" element="ImportarResponse" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_Inicia_eClock5_InputMessage">
    <wsdl:part name="parameters" element="Inicia_eClock5" />
  </wsdl:message>
  <wsdl:message name="S_Sesion_Inicia_eClock5_OutputMessage">
    <wsdl:part name="parameters" element="Inicia_eClock5Response" />
  </wsdl:message>
  <wsdl:portType name="S_Sesion">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:S_Sesion/DoWork" message="S_Sesion_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/DoWorkResponse" message="S_Sesion_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaSesion">
      <wsdl:input wsaw:Action="urn:S_Sesion/CreaSesion" message="S_Sesion_CreaSesion_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/CreaSesionResponse" message="S_Sesion_CreaSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaSesionAdv">
      <wsdl:input wsaw:Action="urn:S_Sesion/CreaSesionAdv" message="S_Sesion_CreaSesionAdv_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/CreaSesionAdvResponse" message="S_Sesion_CreaSesionAdv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaSesionAdvSuscripcion">
      <wsdl:input wsaw:Action="urn:S_Sesion/CreaSesionAdvSuscripcion" message="S_Sesion_CreaSesionAdvSuscripcion_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/CreaSesionAdvSuscripcionResponse" message="S_Sesion_CreaSesionAdvSuscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenSesionDatos">
      <wsdl:input wsaw:Action="urn:S_Sesion/ObtenSesionDatos" message="S_Sesion_ObtenSesionDatos_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ObtenSesionDatosResponse" message="S_Sesion_ObtenSesionDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenUsuarioID">
      <wsdl:input wsaw:Action="urn:S_Sesion/ObtenUsuarioID" message="S_Sesion_ObtenUsuarioID_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ObtenUsuarioIDResponse" message="S_Sesion_ObtenUsuarioID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenSuscripcionID">
      <wsdl:input wsaw:Action="urn:S_Sesion/ObtenSuscripcionID" message="S_Sesion_ObtenSuscripcionID_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ObtenSuscripcionIDResponse" message="S_Sesion_ObtenSuscripcionID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenPerfilID">
      <wsdl:input wsaw:Action="urn:S_Sesion/ObtenPerfilID" message="S_Sesion_ObtenPerfilID_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ObtenPerfilIDResponse" message="S_Sesion_ObtenPerfilID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CierraSesion">
      <wsdl:input wsaw:Action="urn:S_Sesion/CierraSesion" message="S_Sesion_CierraSesion_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/CierraSesionResponse" message="S_Sesion_CierraSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenListado">
      <wsdl:input wsaw:Action="urn:S_Sesion/ObtenListado" message="S_Sesion_ObtenListado_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ObtenListadoResponse" message="S_Sesion_ObtenListado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenListadoCatalogo">
      <wsdl:input wsaw:Action="urn:S_Sesion/ObtenListadoCatalogo" message="S_Sesion_ObtenListadoCatalogo_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ObtenListadoCatalogoResponse" message="S_Sesion_ObtenListadoCatalogo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenDatos">
      <wsdl:input wsaw:Action="urn:S_Sesion/ObtenDatos" message="S_Sesion_ObtenDatos_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ObtenDatosResponse" message="S_Sesion_ObtenDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardaDatos">
      <wsdl:input wsaw:Action="urn:S_Sesion/GuardaDatos" message="S_Sesion_GuardaDatos_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/GuardaDatosResponse" message="S_Sesion_GuardaDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardaDatos1aN">
      <wsdl:input wsaw:Action="urn:S_Sesion/GuardaDatos1aN" message="S_Sesion_GuardaDatos1aN_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/GuardaDatos1aNResponse" message="S_Sesion_GuardaDatos1aN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarDatos">
      <wsdl:input wsaw:Action="urn:S_Sesion/BorrarDatos" message="S_Sesion_BorrarDatos_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/BorrarDatosResponse" message="S_Sesion_BorrarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenDatosPersona">
      <wsdl:input wsaw:Action="urn:S_Sesion/ObtenDatosPersona" message="S_Sesion_ObtenDatosPersona_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ObtenDatosPersonaResponse" message="S_Sesion_ObtenDatosPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenNoCambios">
      <wsdl:input wsaw:Action="urn:S_Sesion/ObtenNoCambios" message="S_Sesion_ObtenNoCambios_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ObtenNoCambiosResponse" message="S_Sesion_ObtenNoCambios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardaConsulta">
      <wsdl:input wsaw:Action="urn:S_Sesion/GuardaConsulta" message="S_Sesion_GuardaConsulta_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/GuardaConsultaResponse" message="S_Sesion_GuardaConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenImagen">
      <wsdl:input wsaw:Action="urn:S_Sesion/ObtenImagen" message="S_Sesion_ObtenImagen_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ObtenImagenResponse" message="S_Sesion_ObtenImagen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenImagenThumbnail">
      <wsdl:input wsaw:Action="urn:S_Sesion/ObtenImagenThumbnail" message="S_Sesion_ObtenImagenThumbnail_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ObtenImagenThumbnailResponse" message="S_Sesion_ObtenImagenThumbnail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenConfig">
      <wsdl:input wsaw:Action="urn:S_Sesion/ObtenConfig" message="S_Sesion_ObtenConfig_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ObtenConfigResponse" message="S_Sesion_ObtenConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardaConfig">
      <wsdl:input wsaw:Action="urn:S_Sesion/GuardaConfig" message="S_Sesion_GuardaConfig_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/GuardaConfigResponse" message="S_Sesion_GuardaConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Importar">
      <wsdl:input wsaw:Action="urn:S_Sesion/Importar" message="S_Sesion_Importar_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/ImportarResponse" message="S_Sesion_Importar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Inicia_eClock5">
      <wsdl:input wsaw:Action="urn:S_Sesion/Inicia_eClock5" message="S_Sesion_Inicia_eClock5_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Sesion/Inicia_eClock5Response" message="S_Sesion_Inicia_eClock5_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>