Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Accesos/service22.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="S_Accesos_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="S_Accesos_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="S_Accesos_ObtenAccesos_InputMessage">
    <wsdl:part name="parameters" element="ObtenAccesos" />
  </wsdl:message>
  <wsdl:message name="S_Accesos_ObtenAccesos_OutputMessage">
    <wsdl:part name="parameters" element="ObtenAccesosResponse" />
  </wsdl:message>
  <wsdl:message name="S_Accesos_AgregaChecada_InputMessage">
    <wsdl:part name="parameters" element="AgregaChecada" />
  </wsdl:message>
  <wsdl:message name="S_Accesos_AgregaChecada_OutputMessage">
    <wsdl:part name="parameters" element="AgregaChecadaResponse" />
  </wsdl:message>
  <wsdl:message name="S_Accesos_AgregarAcceso_InputMessage">
    <wsdl:part name="parameters" element="AgregarAcceso" />
  </wsdl:message>
  <wsdl:message name="S_Accesos_AgregarAcceso_OutputMessage">
    <wsdl:part name="parameters" element="AgregarAccesoResponse" />
  </wsdl:message>
  <wsdl:message name="S_Accesos_AgregaAccesos_InputMessage">
    <wsdl:part name="parameters" element="AgregaAccesos" />
  </wsdl:message>
  <wsdl:message name="S_Accesos_AgregaAccesos_OutputMessage">
    <wsdl:part name="parameters" element="AgregaAccesosResponse" />
  </wsdl:message>
  <wsdl:portType name="S_Accesos">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:S_Accesos/DoWork" message="S_Accesos_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Accesos/DoWorkResponse" message="S_Accesos_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenAccesos">
      <wsdl:input wsaw:Action="urn:S_Accesos/ObtenAccesos" message="S_Accesos_ObtenAccesos_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Accesos/ObtenAccesosResponse" message="S_Accesos_ObtenAccesos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregaChecada">
      <wsdl:input wsaw:Action="urn:S_Accesos/AgregaChecada" message="S_Accesos_AgregaChecada_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Accesos/AgregaChecadaResponse" message="S_Accesos_AgregaChecada_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarAcceso">
      <wsdl:input wsaw:Action="urn:S_Accesos/AgregarAcceso" message="S_Accesos_AgregarAcceso_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Accesos/AgregarAccesoResponse" message="S_Accesos_AgregarAcceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregaAccesos">
      <wsdl:input wsaw:Action="urn:S_Accesos/AgregaAccesos" message="S_Accesos_AgregaAccesos_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Accesos/AgregaAccesosResponse" message="S_Accesos_AgregaAccesos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>