Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Actividades/S_Actividades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenImagen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActividadID" type="xs:int" />
        <xs:element minOccurs="0" name="FechaHoraMinima" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenImagenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenImagenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Incribirse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActividadID" type="xs:int" />
        <xs:element minOccurs="0" name="PersonaID" type="xs:int" />
        <xs:element minOccurs="0" name="TipoInscripcionID" type="xs:int" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncribirseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncribirseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>