Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Empleados/S_Empleados2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://bishop.entrytec.com.mx/S_Empleados.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://bishop.entrytec.com.mx/S_Empleados.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="S_Empleados_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="S_Empleados_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="S_Empleados_ObtenPersonaID_InputMessage">
    <wsdl:part name="parameters" element="ObtenPersonaID" />
  </wsdl:message>
  <wsdl:message name="S_Empleados_ObtenPersonaID_OutputMessage">
    <wsdl:part name="parameters" element="ObtenPersonaIDResponse" />
  </wsdl:message>
  <wsdl:message name="S_Empleados_ClaveEmpleado2PersonaID_InputMessage">
    <wsdl:part name="parameters" element="ClaveEmpleado2PersonaID" />
  </wsdl:message>
  <wsdl:message name="S_Empleados_ClaveEmpleado2PersonaID_OutputMessage">
    <wsdl:part name="parameters" element="ClaveEmpleado2PersonaIDResponse" />
  </wsdl:message>
  <wsdl:portType name="S_Empleados">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:S_Empleados/DoWork" message="S_Empleados_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Empleados/DoWorkResponse" message="S_Empleados_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenPersonaID">
      <wsdl:input wsaw:Action="urn:S_Empleados/ObtenPersonaID" message="S_Empleados_ObtenPersonaID_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Empleados/ObtenPersonaIDResponse" message="S_Empleados_ObtenPersonaID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClaveEmpleado2PersonaID">
      <wsdl:input wsaw:Action="urn:S_Empleados/ClaveEmpleado2PersonaID" message="S_Empleados_ClaveEmpleado2PersonaID_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Empleados/ClaveEmpleado2PersonaIDResponse" message="S_Empleados_ClaveEmpleado2PersonaID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>