Proyectos Trabajos/Entrytec/eClock/eClock/App_WebReferences/WSTabuladores/WSTabuladores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LeerTabulador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Tabla" type="tns:TabuladorSicoss" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="TabuladorSicoss">
        <s:restriction base="s:string">
          <s:enumeration value="TAB_FALTAS" />
          <s:enumeration value="TAB_TURNOS" />
          <s:enumeration value="TAB_FESTIVOS" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LeerTabuladorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeerTabuladorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dbOpen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dbOpenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dbOpenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Coneccion">
        <s:complexType />
      </s:element>
      <s:element name="ConeccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConeccionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dbClose">
        <s:complexType />
      </s:element>
      <s:element name="dbCloseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dbCloseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LeerTabuladorSoapIn">
    <wsdl:part name="parameters" element="tns:LeerTabulador" />
  </wsdl:message>
  <wsdl:message name="LeerTabuladorSoapOut">
    <wsdl:part name="parameters" element="tns:LeerTabuladorResponse" />
  </wsdl:message>
  <wsdl:message name="dbOpenSoapIn">
    <wsdl:part name="parameters" element="tns:dbOpen" />
  </wsdl:message>
  <wsdl:message name="dbOpenSoapOut">
    <wsdl:part name="parameters" element="tns:dbOpenResponse" />
  </wsdl:message>
  <wsdl:message name="ConeccionSoapIn">
    <wsdl:part name="parameters" element="tns:Coneccion" />
  </wsdl:message>
  <wsdl:message name="ConeccionSoapOut">
    <wsdl:part name="parameters" element="tns:ConeccionResponse" />
  </wsdl:message>
  <wsdl:message name="dbCloseSoapIn">
    <wsdl:part name="parameters" element="tns:dbClose" />
  </wsdl:message>
  <wsdl:message name="dbCloseSoapOut">
    <wsdl:part name="parameters" element="tns:dbCloseResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="LeerTabulador">
      <wsdl:input message="tns:LeerTabuladorSoapIn" />
      <wsdl:output message="tns:LeerTabuladorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dbOpen">
      <wsdl:input message="tns:dbOpenSoapIn" />
      <wsdl:output message="tns:dbOpenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Coneccion">
      <wsdl:input message="tns:ConeccionSoapIn" />
      <wsdl:output message="tns:ConeccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dbClose">
      <wsdl:input message="tns:dbCloseSoapIn" />
      <wsdl:output message="tns:dbCloseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeerTabulador">
      <soap:operation soapAction="http://tempuri.org/LeerTabulador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dbOpen">
      <soap:operation soapAction="http://tempuri.org/dbOpen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Coneccion">
      <soap:operation soapAction="http://tempuri.org/Coneccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dbClose">
      <soap:operation soapAction="http://tempuri.org/dbClose" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeerTabulador">
      <soap12:operation soapAction="http://tempuri.org/LeerTabulador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dbOpen">
      <soap12:operation soapAction="http://tempuri.org/dbOpen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Coneccion">
      <soap12:operation soapAction="http://tempuri.org/Coneccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dbClose">
      <soap12:operation soapAction="http://tempuri.org/dbClose" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://www.gruposicoss.com.mx/WSSicoss/WSTabuladores/WSTabuladores.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://www.gruposicoss.com.mx/WSSicoss/WSTabuladores/WSTabuladores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>