Proyectos Personales/SunCorp/Aplicacion/SunCorp/SunCorp.Controller/Service References/SvcServicesEntities/EntitiesServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EntitiesServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14772/Services/EntitiesServer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14772/Services/EntitiesServer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14772/Services/EntitiesServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" />
      <xsd:import schemaLocation="http://localhost:14772/Services/EntitiesServer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntitiesServer_GetUsUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsUsuarios" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetUsUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetListUsZona_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListUsZona" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetListUsZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListUsZonaResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetListUsZonaPageList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListUsZonaPageList" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetListUsZonaPageList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListUsZonaPageListResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetListUsZonasUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListUsZonasUser" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetListUsZonasUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListUsZonasUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_NewRegUsZona_InputMessage">
    <wsdl:part name="parameters" element="tns:NewRegUsZona" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_NewRegUsZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewRegUsZonaResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_UpdateRegUsZona_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegUsZona" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_UpdateRegUsZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegUsZonaResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_DeleteRegUsZona_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRegUsZona" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_DeleteRegUsZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRegUsZonaResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetTypeUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeUser" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetTypeUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetListProCatMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListProCatMarca" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetListProCatMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListProCatMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_NewRegProCatMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:NewRegProCatMarca" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_NewRegProCatMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewRegProCatMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_UpdateRegProCatMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegProCatMarca" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_UpdateRegProCatMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegProCatMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_DeleteRegProCatMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRegProCatMarca" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_DeleteRegProCatMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRegProCatMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetListProCatModelo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListProCatModelo" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_GetListProCatModelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListProCatModeloResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_NewRegProCatModelo_InputMessage">
    <wsdl:part name="parameters" element="tns:NewRegProCatModelo" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_NewRegProCatModelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewRegProCatModeloResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_UpdateRegProCatModelo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegProCatModelo" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_UpdateRegProCatModelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegProCatModeloResponse" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_DeleteRegProCatModelo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRegProCatModelo" />
  </wsdl:message>
  <wsdl:message name="IEntitiesServer_DeleteRegProCatModelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRegProCatModeloResponse" />
  </wsdl:message>
  <wsdl:portType name="IEntitiesServer">
    <wsdl:operation name="GetUsUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/GetUsUsuarios" message="tns:IEntitiesServer_GetUsUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/GetUsUsuariosResponse" message="tns:IEntitiesServer_GetUsUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListUsZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/GetListUsZona" message="tns:IEntitiesServer_GetListUsZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/GetListUsZonaResponse" message="tns:IEntitiesServer_GetListUsZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListUsZonaPageList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/GetListUsZonaPageList" message="tns:IEntitiesServer_GetListUsZonaPageList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/GetListUsZonaPageListResponse" message="tns:IEntitiesServer_GetListUsZonaPageList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListUsZonasUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/GetListUsZonasUser" message="tns:IEntitiesServer_GetListUsZonasUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/GetListUsZonasUserResponse" message="tns:IEntitiesServer_GetListUsZonasUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewRegUsZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/NewRegUsZona" message="tns:IEntitiesServer_NewRegUsZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/NewRegUsZonaResponse" message="tns:IEntitiesServer_NewRegUsZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegUsZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/UpdateRegUsZona" message="tns:IEntitiesServer_UpdateRegUsZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/UpdateRegUsZonaResponse" message="tns:IEntitiesServer_UpdateRegUsZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRegUsZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/DeleteRegUsZona" message="tns:IEntitiesServer_DeleteRegUsZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/DeleteRegUsZonaResponse" message="tns:IEntitiesServer_DeleteRegUsZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/GetTypeUser" message="tns:IEntitiesServer_GetTypeUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/GetTypeUserResponse" message="tns:IEntitiesServer_GetTypeUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListProCatMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/GetListProCatMarca" message="tns:IEntitiesServer_GetListProCatMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/GetListProCatMarcaResponse" message="tns:IEntitiesServer_GetListProCatMarca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewRegProCatMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/NewRegProCatMarca" message="tns:IEntitiesServer_NewRegProCatMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/NewRegProCatMarcaResponse" message="tns:IEntitiesServer_NewRegProCatMarca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegProCatMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/UpdateRegProCatMarca" message="tns:IEntitiesServer_UpdateRegProCatMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/UpdateRegProCatMarcaResponse" message="tns:IEntitiesServer_UpdateRegProCatMarca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRegProCatMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/DeleteRegProCatMarca" message="tns:IEntitiesServer_DeleteRegProCatMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/DeleteRegProCatMarcaResponse" message="tns:IEntitiesServer_DeleteRegProCatMarca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListProCatModelo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/GetListProCatModelo" message="tns:IEntitiesServer_GetListProCatModelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/GetListProCatModeloResponse" message="tns:IEntitiesServer_GetListProCatModelo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewRegProCatModelo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/NewRegProCatModelo" message="tns:IEntitiesServer_NewRegProCatModelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/NewRegProCatModeloResponse" message="tns:IEntitiesServer_NewRegProCatModelo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegProCatModelo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/UpdateRegProCatModelo" message="tns:IEntitiesServer_UpdateRegProCatModelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/UpdateRegProCatModeloResponse" message="tns:IEntitiesServer_UpdateRegProCatModelo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRegProCatModelo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntitiesServer/DeleteRegProCatModelo" message="tns:IEntitiesServer_DeleteRegProCatModelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntitiesServer/DeleteRegProCatModeloResponse" message="tns:IEntitiesServer_DeleteRegProCatModelo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEntitiesServer" type="tns:IEntitiesServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsUsuarios">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/GetUsUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListUsZona">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/GetListUsZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListUsZonaPageList">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/GetListUsZonaPageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListUsZonasUser">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/GetListUsZonasUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRegUsZona">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/NewRegUsZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegUsZona">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/UpdateRegUsZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRegUsZona">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/DeleteRegUsZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeUser">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/GetTypeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListProCatMarca">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/GetListProCatMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRegProCatMarca">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/NewRegProCatMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegProCatMarca">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/UpdateRegProCatMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRegProCatMarca">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/DeleteRegProCatMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListProCatModelo">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/GetListProCatModelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRegProCatModelo">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/NewRegProCatModelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegProCatModelo">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/UpdateRegProCatModelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRegProCatModelo">
      <soap:operation soapAction="http://tempuri.org/IEntitiesServer/DeleteRegProCatModelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntitiesServer">
    <wsdl:port name="BasicHttpBinding_IEntitiesServer" binding="tns:BasicHttpBinding_IEntitiesServer">
      <soap:address location="http://localhost:14772/Services/EntitiesServer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>