Proyectos Personales/SunCorp/Aplicacion/SunCorp/SunCorp.Controller/Service References/SvcServicesEntities/EntitiesServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14772/Services/EntitiesServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" />
  <xs:import schemaLocation="http://localhost:14772/Services/EntitiesServer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities" />
  <xs:element name="GetUsUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" minOccurs="0" name="session" nillable="true" type="q1:UserSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="GetUsUsuariosResult" nillable="true" type="q2:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUsZona">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUsZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="GetListUsZonaResult" nillable="true" type="q3:ArrayOfUsZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUsZonaPageList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="numRows" type="xs:int" />
        <xs:element minOccurs="0" name="totalRows" type="xs:int" />
        <xs:element minOccurs="0" name="includeDelete" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUsZonaPageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="GetListUsZonaPageListResult" nillable="true" type="q4:ArrayOfUsZona" />
        <xs:element minOccurs="0" name="totalRows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUsZonasUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="user" nillable="true" type="q5:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUsZonasUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="GetListUsZonasUserResult" nillable="true" type="q6:ArrayOfUsZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegUsZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="zona" nillable="true" type="q7:UsZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegUsZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="NewRegUsZonaResult" nillable="true" type="q8:UsZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegUsZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="zona" nillable="true" type="q9:UsZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegUsZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRegUsZonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegUsZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="zona" nillable="true" type="q10:UsZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegUsZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRegUsZonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="user" nillable="true" type="q11:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="GetTypeUserResult" nillable="true" type="q12:UsTipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProCatMarca">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProCatMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="GetListProCatMarcaResult" nillable="true" type="q13:ArrayOfProCatMarca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegProCatMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="reg" nillable="true" type="q14:ProCatMarca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegProCatMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="NewRegProCatMarcaResult" nillable="true" type="q15:ProCatMarca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegProCatMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="reg" nillable="true" type="q16:ProCatMarca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegProCatMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRegProCatMarcaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegProCatMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="reg" nillable="true" type="q17:ProCatMarca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegProCatMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRegProCatMarcaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProCatModelo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProCatModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="GetListProCatModeloResult" nillable="true" type="q18:ArrayOfProCatModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegProCatModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="reg" nillable="true" type="q19:ProCatModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegProCatModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="NewRegProCatModeloResult" nillable="true" type="q20:ProCatModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegProCatModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="reg" nillable="true" type="q21:ProCatModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegProCatModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRegProCatModeloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegProCatModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="reg" nillable="true" type="q22:ProCatModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegProCatModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRegProCatModeloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProCatDiviciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProCatDivicionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="GetListProCatDivicionesResult" nillable="true" type="q23:ArrayOfProDiviciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegProDiviciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="reg" nillable="true" type="q24:ProDiviciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegProDivicionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="NewRegProDivicionesResult" nillable="true" type="q25:ProDiviciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegProDiviciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="reg" nillable="true" type="q26:ProDiviciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegProDivicionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRegProDivicionesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegProDiviciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="reg" nillable="true" type="q27:ProDiviciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegProDivicionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRegProDivicionesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>