Proyectos Personales/SunCorp/Aplicacion/SunCorp/SunCorp.Controller/Service References/SvcServicesEntities/EntitiesServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2266/Services/EntitiesServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" />
  <xs:import schemaLocation="http://localhost:2266/Services/EntitiesServer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities" />
  <xs:element name="GetUsUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" minOccurs="0" name="session" nillable="true" type="q1:UserSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="GetUsUsuariosResult" nillable="true" type="q2:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUsZonasUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="user" nillable="true" type="q3:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUsZonasUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="GetListUsZonasUserResult" nillable="true" type="q4:ArrayOfUsZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="user" nillable="true" type="q5:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="GetTypeUserResult" nillable="true" type="q6:UsTipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>