Proyectos Personales/SunCorp/Aplicacion/SunCorp/SunCorp.Controller/Service References/SvcServicesEntities/EntitiesServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RememberPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemmemberSession" type="xs:boolean" />
      <xs:element minOccurs="0" name="SessionSecurity" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="UrlServer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSession" nillable="true" type="tns:UserSession" />
</xs:schema>