Proyectos Personales/SunCorp/Aplicacion/SunCorp/SunCorp.Controller/Service References/SvcServicesEntities/EntitiesServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4702/Services/EntitiesServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" />
  <xs:import schemaLocation="http://localhost:4702/Services/EntitiesServer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Entities" />
  <xs:element name="GetUsUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" minOccurs="0" name="session" nillable="true" type="q1:UserSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Entities" minOccurs="0" name="GetUsUsuariosResult" nillable="true" type="q2:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>