Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Usuarios/S_Usuarios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenUsuarioID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenUsuarioIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenUsuarioIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenSuscripcionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenSuscripcionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenSuscripcionIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiaPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClaveAnterior" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClaveNueva" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiaPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiaPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PerfilId" type="xs:int" />
        <xs:element minOccurs="0" name="UsuarioUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioClave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioEnvmaila" type="xs:boolean" />
        <xs:element minOccurs="0" name="SuscripcionId" type="xs:int" />
        <xs:element minOccurs="0" name="UsuarioAgrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioEssup" type="xs:boolean" />
        <xs:element minOccurs="0" name="UsuarioEsemp" type="xs:boolean" />
        <xs:element minOccurs="0" name="PersonaId" type="xs:int" />
        <xs:element minOccurs="0" name="UsuarioBorrado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregaUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PerfilId" type="xs:int" />
        <xs:element minOccurs="0" name="UsuarioUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioClave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioEnvmaila" type="xs:boolean" />
        <xs:element minOccurs="0" name="SuscripcionId" type="xs:int" />
        <xs:element minOccurs="0" name="UsuarioAgrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioEssup" type="xs:boolean" />
        <xs:element minOccurs="0" name="UsuarioEsemp" type="xs:boolean" />
        <xs:element minOccurs="0" name="PersonaId" type="xs:int" />
        <xs:element minOccurs="0" name="UsuarioBorrado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificaUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorraUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorraUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorraUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaUsuarioSuscripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaUsuarioSuscripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreaUsuarioSuscripcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaUsuarioEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoEmpleado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Suscripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaUsuarioEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreaUsuarioEmpleadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenUsuarioNombreEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Suscripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NoEmpleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenUsuarioNombreEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenUsuarioNombreEmpleadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OlvidoClaveEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoEmpleado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Suscripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OlvidoClaveEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OlvidoClaveEmpleadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OlvidoClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioOeMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Firma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OlvidoClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OlvidoClaveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioSincronizador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SuscripcionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioSincronizadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerUsuarioSincronizadorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>