Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Usuarios/S_Usuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:50723/S_Usuarios.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:50723/S_Usuarios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="S_Usuarios_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ExisteUsuario_InputMessage">
    <wsdl:part name="parameters" element="ExisteUsuario" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ExisteUsuario_OutputMessage">
    <wsdl:part name="parameters" element="ExisteUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ObtenUsuarioID_InputMessage">
    <wsdl:part name="parameters" element="ObtenUsuarioID" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ObtenUsuarioID_OutputMessage">
    <wsdl:part name="parameters" element="ObtenUsuarioIDResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ObtenSuscripcionID_InputMessage">
    <wsdl:part name="parameters" element="ObtenSuscripcionID" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ObtenSuscripcionID_OutputMessage">
    <wsdl:part name="parameters" element="ObtenSuscripcionIDResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_CambiaPassword_InputMessage">
    <wsdl:part name="parameters" element="CambiaPassword" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_CambiaPassword_OutputMessage">
    <wsdl:part name="parameters" element="CambiaPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ValidaPassword_InputMessage">
    <wsdl:part name="parameters" element="ValidaPassword" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ValidaPassword_OutputMessage">
    <wsdl:part name="parameters" element="ValidaPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_AgregaUsuario_InputMessage">
    <wsdl:part name="parameters" element="AgregaUsuario" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_AgregaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="AgregaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ModificaUsuario_InputMessage">
    <wsdl:part name="parameters" element="ModificaUsuario" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ModificaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="ModificaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_BorraUsuario_InputMessage">
    <wsdl:part name="parameters" element="BorraUsuario" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_BorraUsuario_OutputMessage">
    <wsdl:part name="parameters" element="BorraUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_CreaUsuarioSuscripcion_InputMessage">
    <wsdl:part name="parameters" element="CreaUsuarioSuscripcion" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_CreaUsuarioSuscripcion_OutputMessage">
    <wsdl:part name="parameters" element="CreaUsuarioSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_CreaUsuarioEmpleado_InputMessage">
    <wsdl:part name="parameters" element="CreaUsuarioEmpleado" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_CreaUsuarioEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="CreaUsuarioEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ObtenUsuarioNombreEmpleado_InputMessage">
    <wsdl:part name="parameters" element="ObtenUsuarioNombreEmpleado" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ObtenUsuarioNombreEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="ObtenUsuarioNombreEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_OlvidoClaveEmpleado_InputMessage">
    <wsdl:part name="parameters" element="OlvidoClaveEmpleado" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_OlvidoClaveEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="OlvidoClaveEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_OlvidoClave_InputMessage">
    <wsdl:part name="parameters" element="OlvidoClave" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_OlvidoClave_OutputMessage">
    <wsdl:part name="parameters" element="OlvidoClaveResponse" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ObtenerUsuarioSincronizador_InputMessage">
    <wsdl:part name="parameters" element="ObtenerUsuarioSincronizador" />
  </wsdl:message>
  <wsdl:message name="S_Usuarios_ObtenerUsuarioSincronizador_OutputMessage">
    <wsdl:part name="parameters" element="ObtenerUsuarioSincronizadorResponse" />
  </wsdl:message>
  <wsdl:portType name="S_Usuarios">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:S_Usuarios/DoWork" message="S_Usuarios_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/DoWorkResponse" message="S_Usuarios_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <wsdl:input wsaw:Action="urn:S_Usuarios/ExisteUsuario" message="S_Usuarios_ExisteUsuario_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/ExisteUsuarioResponse" message="S_Usuarios_ExisteUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenUsuarioID">
      <wsdl:input wsaw:Action="urn:S_Usuarios/ObtenUsuarioID" message="S_Usuarios_ObtenUsuarioID_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/ObtenUsuarioIDResponse" message="S_Usuarios_ObtenUsuarioID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenSuscripcionID">
      <wsdl:input wsaw:Action="urn:S_Usuarios/ObtenSuscripcionID" message="S_Usuarios_ObtenSuscripcionID_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/ObtenSuscripcionIDResponse" message="S_Usuarios_ObtenSuscripcionID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiaPassword">
      <wsdl:input wsaw:Action="urn:S_Usuarios/CambiaPassword" message="S_Usuarios_CambiaPassword_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/CambiaPasswordResponse" message="S_Usuarios_CambiaPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaPassword">
      <wsdl:input wsaw:Action="urn:S_Usuarios/ValidaPassword" message="S_Usuarios_ValidaPassword_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/ValidaPasswordResponse" message="S_Usuarios_ValidaPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregaUsuario">
      <wsdl:input wsaw:Action="urn:S_Usuarios/AgregaUsuario" message="S_Usuarios_AgregaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/AgregaUsuarioResponse" message="S_Usuarios_AgregaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaUsuario">
      <wsdl:input wsaw:Action="urn:S_Usuarios/ModificaUsuario" message="S_Usuarios_ModificaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/ModificaUsuarioResponse" message="S_Usuarios_ModificaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorraUsuario">
      <wsdl:input wsaw:Action="urn:S_Usuarios/BorraUsuario" message="S_Usuarios_BorraUsuario_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/BorraUsuarioResponse" message="S_Usuarios_BorraUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaUsuarioSuscripcion">
      <wsdl:input wsaw:Action="urn:S_Usuarios/CreaUsuarioSuscripcion" message="S_Usuarios_CreaUsuarioSuscripcion_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/CreaUsuarioSuscripcionResponse" message="S_Usuarios_CreaUsuarioSuscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaUsuarioEmpleado">
      <wsdl:input wsaw:Action="urn:S_Usuarios/CreaUsuarioEmpleado" message="S_Usuarios_CreaUsuarioEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/CreaUsuarioEmpleadoResponse" message="S_Usuarios_CreaUsuarioEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenUsuarioNombreEmpleado">
      <wsdl:input wsaw:Action="urn:S_Usuarios/ObtenUsuarioNombreEmpleado" message="S_Usuarios_ObtenUsuarioNombreEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/ObtenUsuarioNombreEmpleadoResponse" message="S_Usuarios_ObtenUsuarioNombreEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OlvidoClaveEmpleado">
      <wsdl:input wsaw:Action="urn:S_Usuarios/OlvidoClaveEmpleado" message="S_Usuarios_OlvidoClaveEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/OlvidoClaveEmpleadoResponse" message="S_Usuarios_OlvidoClaveEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OlvidoClave">
      <wsdl:input wsaw:Action="urn:S_Usuarios/OlvidoClave" message="S_Usuarios_OlvidoClave_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/OlvidoClaveResponse" message="S_Usuarios_OlvidoClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioSincronizador">
      <wsdl:input wsaw:Action="urn:S_Usuarios/ObtenerUsuarioSincronizador" message="S_Usuarios_ObtenerUsuarioSincronizador_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Usuarios/ObtenerUsuarioSincronizadorResponse" message="S_Usuarios_ObtenerUsuarioSincronizador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>