Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SVRMenuSistema/MenusSistemaS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Universidad.Entidades.ControlUsuario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades.ControlUsuario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMenuSistemaE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuSistemaE" nillable="true" type="tns:MenuSistemaE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuSistemaE" nillable="true" type="tns:ArrayOfMenuSistemaE" />
  <xs:complexType name="MenuSistemaE">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdMenuHijo" type="xs:int" />
      <xs:element minOccurs="0" name="IdMenuPadre" type="xs:int" />
      <xs:element minOccurs="0" name="IdNivelUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdTabPage" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NivelUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreNodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreTabPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaNodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaTapPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuSistemaE" nillable="true" type="tns:MenuSistemaE" />
</xs:schema>