Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SVRMenuSistema/MenusSistemaS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5099/MenuSistema/MenusSistemaS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades" />
  <xs:element name="TraeArbol">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeArbolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraeArbolResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="usuario" nillable="true" type="q1:US_USUARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraerMenusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>