Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Publicidad/S_Publicidad.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenImagen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublicidadID" type="xs:int" />
        <xs:element minOccurs="0" name="FechaHoraMinima" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenImagenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenImagenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoPublicidad" type="xs:int" />
        <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenListadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>