Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Reportes/S_Reportes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:50723/S_Reportes.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:50723/S_Reportes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="S_Reportes_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="S_Reportes_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="S_Reportes_ObtenListado_InputMessage">
    <wsdl:part name="parameters" element="ObtenListado" />
  </wsdl:message>
  <wsdl:message name="S_Reportes_ObtenListado_OutputMessage">
    <wsdl:part name="parameters" element="ObtenListadoResponse" />
  </wsdl:message>
  <wsdl:message name="S_Reportes_ObtenReporte_InputMessage">
    <wsdl:part name="parameters" element="ObtenReporte" />
  </wsdl:message>
  <wsdl:message name="S_Reportes_ObtenReporte_OutputMessage">
    <wsdl:part name="parameters" element="ObtenReporteResponse" />
  </wsdl:message>
  <wsdl:message name="S_Reportes_ObtenReporteMail_InputMessage">
    <wsdl:part name="parameters" element="ObtenReporteMail" />
  </wsdl:message>
  <wsdl:message name="S_Reportes_ObtenReporteMail_OutputMessage">
    <wsdl:part name="parameters" element="ObtenReporteMailResponse" />
  </wsdl:message>
  <wsdl:portType name="S_Reportes">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:S_Reportes/DoWork" message="S_Reportes_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Reportes/DoWorkResponse" message="S_Reportes_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenListado">
      <wsdl:input wsaw:Action="urn:S_Reportes/ObtenListado" message="S_Reportes_ObtenListado_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Reportes/ObtenListadoResponse" message="S_Reportes_ObtenListado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenReporte">
      <wsdl:input wsaw:Action="urn:S_Reportes/ObtenReporte" message="S_Reportes_ObtenReporte_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Reportes/ObtenReporteResponse" message="S_Reportes_ObtenReporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenReporteMail">
      <wsdl:input wsaw:Action="urn:S_Reportes/ObtenReporteMail" message="S_Reportes_ObtenReporteMail_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Reportes/ObtenReporteMailResponse" message="S_Reportes_ObtenReporteMail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>