Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SvcLogin/S_Login1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Universidad.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="US_USUARIOS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTRASENA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_ESTATUS_USUARIOS" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NIVEL_USUARIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TIPO_USUARIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="US_USUARIOS" nillable="true" type="tns:US_USUARIOS" />
  <xs:complexType name="PER_PERSONAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="A_MATERNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="A_PATERNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CVE_NACIONALIDAD" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FECHAINGRESO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_NAC" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDDIRECCION" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDFOTO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_MEDIOS_ELECTRONICOS" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PERSONA" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PER_LINKID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_TELEFONOS" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TIPO_PERSONA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_USUARIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IMSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_COMPLETO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEXO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PER_PERSONAS" nillable="true" type="tns:PER_PERSONAS" />
</xs:schema>