Proyectos Trabajos/Broxel/Dlls/PubliPayments.Negocios.Originacion/PubliPayments.Negocios.Originacion/Service References/WSRegistraSolicitudCreditoMejoravitApp11/WSRegistraSolicitudCreditoMejoravitApp11.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema">
  <s:element name="RegistraSolicitud">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="NSS" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="NombreTitular" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Plazo" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Contarias" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="MontoCredito" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="PagoMensual" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="MontoManoObra" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="PensionAlimenticia" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="GastosApertura" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="NumRegistroPatronal" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="PuntMin" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="PuntTotal" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Curp" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="RFC" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="NombreEmpresa" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="TipoIdentificacion" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="NumeroIdentificacion" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="FechaValidez" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="CveCentralObrera" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="DescCentralObrera" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="LadaEmpresa" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="TelEmpresa" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="ExtEmpresa" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Calle" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="NumInt" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="NumeExt" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="cveEdo" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="EdoDesc" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="cveMun" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="MunDesc" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Colonia" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="CP" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="EstadoCivil" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="RegCNY" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Lada" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="LadaCelular" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Celular" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="CorreoElectronico" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="ApellidoPaternoR1" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="ApellidoMaternoR1" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="NombreR1" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="CelularR1" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="LadaR1" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="TelefonoR1" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="ApellidoPaternoR2" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="ApellidoMaternoR2" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="NombreR2" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="CelularR2" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="LadaR2" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="TelefonoR2" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="RegistraSolicitudResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="RegistraSolicitudResult" type="tns:WsRespuestaRegSol" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:complexType name="WsRespuestaRegSol">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="WSidMensaje" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSMensaje" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSCredito" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSFolio" type="s:string" />
    </s:sequence>
  </s:complexType>
  <s:element name="RegistraSolicitudTarjeta">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="NSS" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="NumeroTarjeta" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="RegistraSolicitudTarjetaResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="RegistraSolicitudTarjetaResult" type="tns:WsRespuestaRegTarjeta" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:complexType name="WsRespuestaRegTarjeta">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="WSidMensaje" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSMensaje" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSEntidadFinanciera" type="s:string" />
    </s:sequence>
  </s:complexType>
</s:schema>