Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SvcUsuarios/SUsuarios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5099/Usuarios/SUsuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades" />
  <xs:element name="ObtenUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenUsuarioResult" nillable="true" type="q1:US_USUARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenUsuarioPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenUsuarioPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenUsuarioPorIdResult" nillable="true" type="q2:US_USUARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCuantaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="usuario" nillable="true" type="q3:US_USUARIOS" />
        <xs:element minOccurs="0" name="personaId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCuantaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="CrearCuantaUsuarioResult" nillable="true" type="q4:US_USUARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaCuentaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="usuario" nillable="true" type="q5:US_USUARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaCuentaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ActualizaCuentaUsuarioResult" nillable="true" type="q6:US_USUARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>