Proyectos Personales/Broxel/Proyecto/Broxel/Broxel.Controller/Service References/UsuariosWs/UsuariosWs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenUsUsuarionPorLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenUsUsuarionPorLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenUsUsuarionPorLoginResult" type="tns:UsUsuariosEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UsUsuariosEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdEstatus" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenUsUsuarionPorLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenUsUsuarionPorLogin" />
  </wsdl:message>
  <wsdl:message name="ObtenUsUsuarionPorLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenUsUsuarionPorLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="UsuariosWsSoap">
    <wsdl:operation name="ObtenUsUsuarionPorLogin">
      <wsdl:input message="tns:ObtenUsUsuarionPorLoginSoapIn" />
      <wsdl:output message="tns:ObtenUsUsuarionPorLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuariosWsSoap" type="tns:UsuariosWsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenUsUsuarionPorLogin">
      <soap:operation soapAction="http://tempuri.org/ObtenUsUsuarionPorLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsuariosWsSoap12" type="tns:UsuariosWsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenUsUsuarionPorLogin">
      <soap12:operation soapAction="http://tempuri.org/ObtenUsUsuarionPorLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuariosWs">
    <wsdl:port name="UsuariosWsSoap" binding="tns:UsuariosWsSoap">
      <soap:address location="http://localhost:4277/Usuarios/UsuariosWs.asmx" />
    </wsdl:port>
    <wsdl:port name="UsuariosWsSoap12" binding="tns:UsuariosWsSoap12">
      <soap12:address location="http://localhost:4277/Usuarios/UsuariosWs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>