Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SvcPersonas/SPersonas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5099/Personas/SPersonas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:5099/Personas/SPersonas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Personas" />
  <xs:element name="ExisteCorreoUniversidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteCorreoUniversidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteCorreoUniversidadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaMediosElectronicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="mediosElectronicos" nillable="true" type="q1:PER_MEDIOS_ELECTRONICOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaMediosElectronicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="InsertaMediosElectronicosResult" nillable="true" type="q2:PER_MEDIOS_ELECTRONICOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="personaTelefonos" nillable="true" type="q3:PER_CAT_TELEFONOS" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="personaMediosElectronicos" nillable="true" type="q4:PER_MEDIOS_ELECTRONICOS" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="personaFotografia" nillable="true" type="q5:PER_FOTOGRAFIA" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="persona" nillable="true" type="q6:PER_PERSONAS" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="personaDirecciones" nillable="true" type="q7:DIR_DIRECCIONES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="InsertarPersonaResult" nillable="true" type="q8:PER_PERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersonaLink" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarPersonaResult" nillable="true" type="q9:PER_PERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPersonaCompleta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersonaLink" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPersonaCompletaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Personas" minOccurs="0" name="BuscarPersonaCompletaResult" nillable="true" type="q10:DatosCompletosPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaPersonas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaPersonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenListaPersonasResult" nillable="true" type="q11:ArrayOfPER_PERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatTipoPersona">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatTipoPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenCatTipoPersonaResult" nillable="true" type="q12:ArrayOfPER_CAT_TIPO_PERSONA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaPersonaFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idTipoPersona" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListaPersonaFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenListaPersonaFiltroResult" nillable="true" type="q13:ArrayOfPER_PERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenDirecciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="persona" nillable="true" type="q14:PER_PERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenDireccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenDireccionesResult" nillable="true" type="q15:DIR_DIRECCIONES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTelefonos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="persona" nillable="true" type="q16:PER_PERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTelefonosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenTelefonosResult" nillable="true" type="q17:PER_CAT_TELEFONOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenMediosElectronicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="personas" nillable="true" type="q18:PER_PERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenMediosElectronicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenMediosElectronicosResult" nillable="true" type="q19:PER_MEDIOS_ELECTRONICOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenFotografia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="personas" nillable="true" type="q20:PER_PERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenFotografiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenFotografiaResult" nillable="true" type="q21:PER_FOTOGRAFIA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTipoPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoPersona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTipoPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenTipoPersonaResult" nillable="true" type="q22:PER_CAT_TIPO_PERSONA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenPersonaPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersonaPais" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenPersonaPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenPersonaPaisResult" nillable="true" type="q23:PER_CAT_NACIONALIDAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>