Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SvcPersonas/SPersonas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SPersonas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5099/Personas/SPersonas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5099/Personas/SPersonas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5099/Personas/SPersonas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades" />
      <xsd:import schemaLocation="http://localhost:5099/Personas/SPersonas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades.Personas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISPersonas_ExisteCorreoUniversidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteCorreoUniversidad" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ExisteCorreoUniversidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteCorreoUniversidadResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_InsertaMediosElectronicos_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaMediosElectronicos" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_InsertaMediosElectronicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaMediosElectronicosResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_InsertarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPersona" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_InsertarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_BuscarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPersona" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_BuscarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_BuscarPersonaCompleta_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPersonaCompleta" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_BuscarPersonaCompleta_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPersonaCompletaResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenListaPersonas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaPersonas" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenListaPersonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaPersonasResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenCatTipoPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatTipoPersona" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenCatTipoPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatTipoPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenListaPersonaFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaPersonaFiltro" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenListaPersonaFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenListaPersonaFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenDirecciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenDirecciones" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenDirecciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenDireccionesResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenTelefonos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTelefonos" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenTelefonos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTelefonosResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenMediosElectronicos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenMediosElectronicos" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenMediosElectronicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenMediosElectronicosResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenFotografia_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenFotografia" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenFotografia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenFotografiaResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenTipoPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTipoPersona" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenTipoPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTipoPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenPersonaPais_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenPersonaPais" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_ObtenPersonaPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenPersonaPaisResponse" />
  </wsdl:message>
  <wsdl:portType name="ISPersonas">
    <wsdl:operation name="ExisteCorreoUniversidad">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/ExisteCorreoUniversidad" message="tns:ISPersonas_ExisteCorreoUniversidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/ExisteCorreoUniversidadResponse" message="tns:ISPersonas_ExisteCorreoUniversidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaMediosElectronicos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/InsertaMediosElectronicos" message="tns:ISPersonas_InsertaMediosElectronicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/InsertaMediosElectronicosResponse" message="tns:ISPersonas_InsertaMediosElectronicos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/InsertarPersona" message="tns:ISPersonas_InsertarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/InsertarPersonaResponse" message="tns:ISPersonas_InsertarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/BuscarPersona" message="tns:ISPersonas_BuscarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/BuscarPersonaResponse" message="tns:ISPersonas_BuscarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPersonaCompleta">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/BuscarPersonaCompleta" message="tns:ISPersonas_BuscarPersonaCompleta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/BuscarPersonaCompletaResponse" message="tns:ISPersonas_BuscarPersonaCompleta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenListaPersonas">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/ObtenListaPersonas" message="tns:ISPersonas_ObtenListaPersonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/ObtenListaPersonasResponse" message="tns:ISPersonas_ObtenListaPersonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCatTipoPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/ObtenCatTipoPersona" message="tns:ISPersonas_ObtenCatTipoPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/ObtenCatTipoPersonaResponse" message="tns:ISPersonas_ObtenCatTipoPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenListaPersonaFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/ObtenListaPersonaFiltro" message="tns:ISPersonas_ObtenListaPersonaFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/ObtenListaPersonaFiltroResponse" message="tns:ISPersonas_ObtenListaPersonaFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenDirecciones">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/ObtenDirecciones" message="tns:ISPersonas_ObtenDirecciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/ObtenDireccionesResponse" message="tns:ISPersonas_ObtenDirecciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenTelefonos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/ObtenTelefonos" message="tns:ISPersonas_ObtenTelefonos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/ObtenTelefonosResponse" message="tns:ISPersonas_ObtenTelefonos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenMediosElectronicos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/ObtenMediosElectronicos" message="tns:ISPersonas_ObtenMediosElectronicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/ObtenMediosElectronicosResponse" message="tns:ISPersonas_ObtenMediosElectronicos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenFotografia">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/ObtenFotografia" message="tns:ISPersonas_ObtenFotografia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/ObtenFotografiaResponse" message="tns:ISPersonas_ObtenFotografia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenTipoPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/ObtenTipoPersona" message="tns:ISPersonas_ObtenTipoPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/ObtenTipoPersonaResponse" message="tns:ISPersonas_ObtenTipoPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenPersonaPais">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/ObtenPersonaPais" message="tns:ISPersonas_ObtenPersonaPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/ObtenPersonaPaisResponse" message="tns:ISPersonas_ObtenPersonaPais_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISPersonas" type="tns:ISPersonas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExisteCorreoUniversidad">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/ExisteCorreoUniversidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaMediosElectronicos">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/InsertaMediosElectronicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPersona">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/InsertarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPersona">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/BuscarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPersonaCompleta">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/BuscarPersonaCompleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenListaPersonas">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/ObtenListaPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCatTipoPersona">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/ObtenCatTipoPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenListaPersonaFiltro">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/ObtenListaPersonaFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenDirecciones">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/ObtenDirecciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenTelefonos">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/ObtenTelefonos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenMediosElectronicos">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/ObtenMediosElectronicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenFotografia">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/ObtenFotografia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenTipoPersona">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/ObtenTipoPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenPersonaPais">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/ObtenPersonaPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPersonas">
    <wsdl:port name="BasicHttpBinding_ISPersonas" binding="tns:BasicHttpBinding_ISPersonas">
      <soap:address location="http://localhost:5099/Personas/SPersonas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>