Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Suscripciones/S_Suscripciones1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:50723/S_Suscripciones.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:50723/S_Suscripciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="S_Suscripciones_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_AgregaSuscripcion_InputMessage">
    <wsdl:part name="parameters" element="AgregaSuscripcion" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_AgregaSuscripcion_OutputMessage">
    <wsdl:part name="parameters" element="AgregaSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_ModificaSuscripcion_InputMessage">
    <wsdl:part name="parameters" element="ModificaSuscripcion" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_ModificaSuscripcion_OutputMessage">
    <wsdl:part name="parameters" element="ModificaSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_BorraSuscripcion_InputMessage">
    <wsdl:part name="parameters" element="BorraSuscripcion" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_BorraSuscripcion_OutputMessage">
    <wsdl:part name="parameters" element="BorraSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_CreaSuscripcion_InputMessage">
    <wsdl:part name="parameters" element="CreaSuscripcion" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_CreaSuscripcion_OutputMessage">
    <wsdl:part name="parameters" element="CreaSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_ObtenSuscripcionID_InputMessage">
    <wsdl:part name="parameters" element="ObtenSuscripcionID" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_ObtenSuscripcionID_OutputMessage">
    <wsdl:part name="parameters" element="ObtenSuscripcionIDResponse" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_ObtenSuscripcionUrl_InputMessage">
    <wsdl:part name="parameters" element="ObtenSuscripcionUrl" />
  </wsdl:message>
  <wsdl:message name="S_Suscripciones_ObtenSuscripcionUrl_OutputMessage">
    <wsdl:part name="parameters" element="ObtenSuscripcionUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="S_Suscripciones">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:S_Suscripciones/DoWork" message="S_Suscripciones_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Suscripciones/DoWorkResponse" message="S_Suscripciones_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregaSuscripcion">
      <wsdl:input wsaw:Action="urn:S_Suscripciones/AgregaSuscripcion" message="S_Suscripciones_AgregaSuscripcion_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Suscripciones/AgregaSuscripcionResponse" message="S_Suscripciones_AgregaSuscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaSuscripcion">
      <wsdl:input wsaw:Action="urn:S_Suscripciones/ModificaSuscripcion" message="S_Suscripciones_ModificaSuscripcion_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Suscripciones/ModificaSuscripcionResponse" message="S_Suscripciones_ModificaSuscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorraSuscripcion">
      <wsdl:input wsaw:Action="urn:S_Suscripciones/BorraSuscripcion" message="S_Suscripciones_BorraSuscripcion_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Suscripciones/BorraSuscripcionResponse" message="S_Suscripciones_BorraSuscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaSuscripcion">
      <wsdl:input wsaw:Action="urn:S_Suscripciones/CreaSuscripcion" message="S_Suscripciones_CreaSuscripcion_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Suscripciones/CreaSuscripcionResponse" message="S_Suscripciones_CreaSuscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenSuscripcionID">
      <wsdl:input wsaw:Action="urn:S_Suscripciones/ObtenSuscripcionID" message="S_Suscripciones_ObtenSuscripcionID_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Suscripciones/ObtenSuscripcionIDResponse" message="S_Suscripciones_ObtenSuscripcionID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenSuscripcionUrl">
      <wsdl:input wsaw:Action="urn:S_Suscripciones/ObtenSuscripcionUrl" message="S_Suscripciones_ObtenSuscripcionUrl_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Suscripciones/ObtenSuscripcionUrlResponse" message="S_Suscripciones_ObtenSuscripcionUrl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>