Proyectos Trabajos/Broxel/Dlls/PubliPayments.Negocios.Originacion/PubliPayments.Negocios.Originacion/Service References/SeguridadMejoravitApp/WSSeguridadMejoravitApp.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema">
  <s:element name="ValidaUsuario">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="ValidaUsuarioResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="ValidaUsuarioResult" type="tns:WsRespuestaAPP" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:complexType name="WsRespuestaAPP">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="WSRespuestaAPP" type="s:boolean" />
      <s:element minOccurs="0" maxOccurs="1" name="WSidMensaje" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSMensaje" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSNombreAsesor" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSPerfil" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSAtributo" type="s:string" />
    </s:sequence>
  </s:complexType>
  <s:element name="CambiaContrasena">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="ContrasenaNueva" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="CambiaContrasenaResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="CambiaContrasenaResult" type="tns:WsRespuestaAPP" />
      </s:sequence>
    </s:complexType>
  </s:element>
</s:schema>