Proyectos Trabajos/Broxel/Dlls/PubliPayments.Negocios/Service References/wsSms/ServicioSMS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://www.broxel.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioSMS" targetNamespace="https://www.broxel.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://www.broxel.com/Imports">
      <xsd:import schemaLocation="http://localhost:9008/ServicioSMS.svc?xsd=xsd0" namespace="https://www.broxel.com" />
      <xsd:import schemaLocation="http://localhost:9008/ServicioSMS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9008/ServicioSMS.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioSMS_EnviarSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSMS" />
  </wsdl:message>
  <wsdl:message name="IServicioSMS_EnviarSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSMS_EnviarSMSC3ntro_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSMSC3ntro" />
  </wsdl:message>
  <wsdl:message name="IServicioSMS_EnviarSMSC3ntro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSMSC3ntroResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSMS_MultiSMSMismoMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiSMSMismoMensaje" />
  </wsdl:message>
  <wsdl:message name="IServicioSMS_MultiSMSMismoMensaje_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiSMSMismoMensajeResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSMS_MultiSMSMensajePersonalizado_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiSMSMensajePersonalizado" />
  </wsdl:message>
  <wsdl:message name="IServicioSMS_MultiSMSMensajePersonalizado_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiSMSMensajePersonalizadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioSMS">
    <wsdl:operation name="EnviarSMS">
      <wsdl:input wsaw:Action="https://www.broxel.com/IServicioSMS/EnviarSMS" message="tns:IServicioSMS_EnviarSMS_InputMessage" />
      <wsdl:output wsaw:Action="https://www.broxel.com/IServicioSMS/EnviarSMSResponse" message="tns:IServicioSMS_EnviarSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarSMSC3ntro">
      <wsdl:input wsaw:Action="https://www.broxel.com/IServicioSMS/EnviarSMSC3ntro" message="tns:IServicioSMS_EnviarSMSC3ntro_InputMessage" />
      <wsdl:output wsaw:Action="https://www.broxel.com/IServicioSMS/EnviarSMSC3ntroResponse" message="tns:IServicioSMS_EnviarSMSC3ntro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiSMSMismoMensaje">
      <wsdl:input wsaw:Action="https://www.broxel.com/IServicioSMS/MultiSMSMismoMensaje" message="tns:IServicioSMS_MultiSMSMismoMensaje_InputMessage" />
      <wsdl:output wsaw:Action="https://www.broxel.com/IServicioSMS/MultiSMSMismoMensajeResponse" message="tns:IServicioSMS_MultiSMSMismoMensaje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiSMSMensajePersonalizado">
      <wsdl:input wsaw:Action="https://www.broxel.com/IServicioSMS/MultiSMSMensajePersonalizado" message="tns:IServicioSMS_MultiSMSMensajePersonalizado_InputMessage" />
      <wsdl:output wsaw:Action="https://www.broxel.com/IServicioSMS/MultiSMSMensajePersonalizadoResponse" message="tns:IServicioSMS_MultiSMSMensajePersonalizado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpEndpoint" type="tns:IServicioSMS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarSMS">
      <soap:operation soapAction="https://www.broxel.com/IServicioSMS/EnviarSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarSMSC3ntro">
      <soap:operation soapAction="https://www.broxel.com/IServicioSMS/EnviarSMSC3ntro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiSMSMismoMensaje">
      <soap:operation soapAction="https://www.broxel.com/IServicioSMS/MultiSMSMismoMensaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiSMSMensajePersonalizado">
      <soap:operation soapAction="https://www.broxel.com/IServicioSMS/MultiSMSMensajePersonalizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioSMS">
    <wsdl:port name="BasicHttpEndpoint" binding="tns:BasicHttpEndpoint">
      <soap:address location="http://localhost:9008/ServicioSMS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>