Proyectos Trabajos/Broxel/Dlls/Publipayments.Negocios.MYO/Publipayments.Negocios.MYO/Service References/WSCreditosMyo/Creditos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Creditos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Creditos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AperturaCreditoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MensajeRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCredito" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AperturaCreditoResponse" nillable="true" type="tns:AperturaCreditoResponse" />
</xs:schema>