Proyectos Trabajos/Broxel/Dlls/Publipayments.Negocios.MYO/Publipayments.Negocios.MYO/Service References/WSCreditosMyo/CreditosOP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.broxel.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreditosOP" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.broxel.com" location="http://192.168.75.23:8889/wsCreditos/Creditos.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ICreditos" type="i0:ICreditos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoCreditos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetTipoCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPR_TIPOS_PLAZOS">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetPR_TIPOS_PLAZOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoCreditobyID">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetTipoCreditobyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpTiposCreditos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetOpTiposCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPTipoCreditobyID">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetOPTipoCreditobyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRubros">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetRubros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRubroXTipCreditos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetRubroXTipCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPagosCreditos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetPagosCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaldoPr">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetSaldoPr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoCreditoOtros">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetTipoCreditoOtros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoCreditoRefunds">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetTipoCreditoRefunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoCreditoRestricciones">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetTipoCreditoRestricciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoGaranTipoCreditos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetTipoGaranTipoCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequisitos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetRequisitos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReqTipoCreditos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetReqTipoCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgencias">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetAgencias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgencia">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetAgencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGruposRubro">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetGruposRubro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrupoRubro">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetGrupoRubro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonedas">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetMonedas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneda">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetMoneda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNivelesAprobacion">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetNivelesAprobacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNivelAprobacion">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetNivelAprobacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrigenFondos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetOrigenFondos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCargosTipoCreditoPr">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetCargosTipoCreditoPr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanInversion">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetPlanInversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducto">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiposGarantias">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetTiposGarantias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoGarantia">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetTipoGarantia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpCargosTipoCreditos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetOpCargosTipoCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPCargosTipoCreditobyID">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetOPCargosTipoCreditobyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpGarantiasTipoCreditos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetOpGarantiasTipoCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPTpoGarantiaTipoCreditobyID">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetOPTpoGarantiaTipoCreditobyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpCuentasConcepto">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetOpCuentasConcepto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPCuentasConceptobyID">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetOPCuentasConceptobyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListResumenRegContab">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetListResumenRegContab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDetalleRegContab">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetListDetalleRegContab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizaCargosAutomaticos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/RealizaCargosAutomaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AperturaOperacionPasiva">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/AperturaOperacionPasiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AperturaCredito">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/AperturaCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AprobacionCredito">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/AprobacionCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AperturaExpressCredito">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/AperturaExpressCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesembolsoOPasiva">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/DesembolsoOPasiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesembolsoCredito">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/DesembolsoCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLineasCreditosxRiesgo">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetLineasCreditosxRiesgo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanPagos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetPlanPagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanPagosbyId">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetPlanPagosbyId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalculoCuota">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetCalculoCuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTablaPagos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetTablaPagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VinculaOperacionesOpPr">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/VinculaOperacionesOpPr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbonoNormal">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/AbonoNormal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbonoExtraordinario">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/AbonoExtraordinario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbonoCancelacion">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/AbonoCancelacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCobranza">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetCobranza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenResumenAdeudos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/ObtenResumenAdeudos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroLineaCreditoOp">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/RegistroLineaCreditoOp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelacionLineaCreditoOp">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/CancelacionLineaCreditoOp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaDisponibleLineaCredOp">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/ConsultaDisponibleLineaCredOp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLineasCreditos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetLineasCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovimientosOP">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetMovimientosOP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPPlanPagos">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetOPPlanPagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbonoExtraordinarioSimplificado">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/AbonoExtraordinarioSimplificado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAsientosGetRegContablesReporte">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/GetAsientosGetRegContablesReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenTiposCreditoCapacidadPagoXRiesgo">
      <soap:operation soapAction="http://www.broxel.com/ICreditos/ObtenTiposCreditoCapacidadPagoXRiesgo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditosOP">
    <wsdl:port name="BasicHttpBinding_ICreditos" binding="tns:BasicHttpBinding_ICreditos">
      <soap:address location="http://192.168.75.23:8889/wsCreditos/Creditos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>