Proyectos Personales/SunCorp/Aplicacion/SunCorp/SunCorp.Controller/Service References/SvcServicesCatalogs/CatalogsServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14772/Services/CatalogsServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" />
  <xs:import schemaLocation="http://localhost:14772/Services/CatalogsServer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities" />
  <xs:element name="GetListCatalogsSystem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCatalogsSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" minOccurs="0" name="GetListCatalogsSystemResult" nillable="true" type="q1:ArrayOfGenericTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListMenuForUserType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="user" nillable="true" type="q2:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListMenuForUserTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SunCorp.Entities" minOccurs="0" name="GetListMenuForUserTypeResult" nillable="true" type="q3:ArrayOfSisArbolMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>