Proyectos Personales/SunCorp/Aplicacion/SunCorp/SunCorp.Controller/Service References/SvcServicesCatalogs/CatalogsServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGenericTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericTable" nillable="true" type="tns:GenericTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenericTable" nillable="true" type="tns:ArrayOfGenericTable" />
  <xs:complexType name="GenericTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdTable" type="xs:int" />
      <xs:element minOccurs="0" name="TableDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericTable" nillable="true" type="tns:GenericTable" />
</xs:schema>