Proyectos Personales/SunCorp/Aplicacion/SunCorp/SunCorp.Controller/Service References/SvcServicesCatalogs/CatalogsServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SunCorp.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SunCorp.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Borrado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstatusUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsUsuarios" nillable="true" type="tns:UsUsuarios" />
  <xs:complexType name="ArrayOfSisArbolMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SisArbolMenu" nillable="true" type="tns:SisArbolMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSisArbolMenu" nillable="true" type="tns:ArrayOfSisArbolMenu" />
  <xs:complexType name="SisArbolMenu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Controller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMenu" type="xs:int" />
      <xs:element minOccurs="0" name="IdMenuPadre" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreMenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SisArbolMenu" nillable="true" type="tns:SisArbolMenu" />
</xs:schema>