Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Licencias/S_Licencias.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreaLicencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioID" type="xs:int" />
        <xs:element minOccurs="0" name="SuscripcionID" type="xs:int" />
        <xs:element minOccurs="0" name="OrigenID" type="xs:int" />
        <xs:element minOccurs="0" name="DistribuidorID" type="xs:int" />
        <xs:element minOccurs="0" name="VigenciaMeses" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaLicenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreaLicenciaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaLicencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Licencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Maquina" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaLicenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaLicenciaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsaLicencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Licencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Maquina" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsaLicenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsaLicenciaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaUsaLicencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Maquina" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaUsaLicenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreaUsaLicenciaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>