Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Licencias/S_Licencias.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:50723/S_Licencias.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:50723/S_Licencias.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="S_Licencias_CreaLicencia_InputMessage">
    <wsdl:part name="parameters" element="CreaLicencia" />
  </wsdl:message>
  <wsdl:message name="S_Licencias_CreaLicencia_OutputMessage">
    <wsdl:part name="parameters" element="CreaLicenciaResponse" />
  </wsdl:message>
  <wsdl:message name="S_Licencias_ValidaLicencia_InputMessage">
    <wsdl:part name="parameters" element="ValidaLicencia" />
  </wsdl:message>
  <wsdl:message name="S_Licencias_ValidaLicencia_OutputMessage">
    <wsdl:part name="parameters" element="ValidaLicenciaResponse" />
  </wsdl:message>
  <wsdl:message name="S_Licencias_UsaLicencia_InputMessage">
    <wsdl:part name="parameters" element="UsaLicencia" />
  </wsdl:message>
  <wsdl:message name="S_Licencias_UsaLicencia_OutputMessage">
    <wsdl:part name="parameters" element="UsaLicenciaResponse" />
  </wsdl:message>
  <wsdl:message name="S_Licencias_CreaUsaLicencia_InputMessage">
    <wsdl:part name="parameters" element="CreaUsaLicencia" />
  </wsdl:message>
  <wsdl:message name="S_Licencias_CreaUsaLicencia_OutputMessage">
    <wsdl:part name="parameters" element="CreaUsaLicenciaResponse" />
  </wsdl:message>
  <wsdl:portType name="S_Licencias">
    <wsdl:operation name="CreaLicencia">
      <wsdl:input wsaw:Action="urn:S_Licencias/CreaLicencia" message="S_Licencias_CreaLicencia_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Licencias/CreaLicenciaResponse" message="S_Licencias_CreaLicencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaLicencia">
      <wsdl:input wsaw:Action="urn:S_Licencias/ValidaLicencia" message="S_Licencias_ValidaLicencia_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Licencias/ValidaLicenciaResponse" message="S_Licencias_ValidaLicencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsaLicencia">
      <wsdl:input wsaw:Action="urn:S_Licencias/UsaLicencia" message="S_Licencias_UsaLicencia_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Licencias/UsaLicenciaResponse" message="S_Licencias_UsaLicencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaUsaLicencia">
      <wsdl:input wsaw:Action="urn:S_Licencias/CreaUsaLicencia" message="S_Licencias_CreaUsaLicencia_InputMessage" />
      <wsdl:output wsaw:Action="urn:S_Licencias/CreaUsaLicenciaResponse" message="S_Licencias_CreaUsaLicencia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>