Proyectos Trabajos/Broxel/Dlls/Publipayments.Negocios.MYO/Publipayments.Negocios.MYO/Service References/NotificacionesWebServices/NotificacionesWebServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NotificacionesCobranza.Entidades.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NotificacionesCobranza.Entidades.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNotificacionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotificacionModel" nillable="true" type="tns:NotificacionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotificacionModel" nillable="true" type="tns:ArrayOfNotificacionModel" />
  <xs:complexType name="NotificacionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Casa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiaPago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto1" type="xs:float" />
      <xs:element minOccurs="0" name="Monto2" type="xs:float" />
      <xs:element minOccurs="0" name="NomCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oficina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificacionModel" nillable="true" type="tns:NotificacionModel" />
</xs:schema>