Proyectos Trabajos/Broxel/Dlls/PubliPayments.Negocios/Service References/ServicioOCR/ServicioReconocimientoCaracteres.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://servicioocr.broxel.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioReconocimientoCaracteres" targetNamespace="http://servicioocr.broxel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://servicioocr.broxel.com/Imports">
      <xsd:import schemaLocation="http://localhost:15025/ServicioReconocimientoCaracteres.svc?xsd=xsd0" namespace="http://servicioocr.broxel.com/" />
      <xsd:import schemaLocation="http://localhost:15025/ServicioReconocimientoCaracteres.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15025/ServicioReconocimientoCaracteres.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReconocimientoCaracteres" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReconocimientoCaracteres_ProcesarImagen_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarImagen" />
  </wsdl:message>
  <wsdl:message name="IReconocimientoCaracteres_ProcesarImagen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarImagenResponse" />
  </wsdl:message>
  <wsdl:message name="IReconocimientoCaracteres_ObtenerRespuestaOcr_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRespuestaOcr" />
  </wsdl:message>
  <wsdl:message name="IReconocimientoCaracteres_ObtenerRespuestaOcr_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRespuestaOcrResponse" />
  </wsdl:message>
  <wsdl:portType name="IReconocimientoCaracteres">
    <wsdl:operation name="ProcesarImagen">
      <wsdl:input wsaw:Action="http://servicioocr.broxel.com/IReconocimientoCaracteres/ProcesarImagen" message="tns:IReconocimientoCaracteres_ProcesarImagen_InputMessage" />
      <wsdl:output wsaw:Action="http://servicioocr.broxel.com/IReconocimientoCaracteres/ProcesarImagenResponse" message="tns:IReconocimientoCaracteres_ProcesarImagen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRespuestaOcr">
      <wsdl:input wsaw:Action="http://servicioocr.broxel.com/IReconocimientoCaracteres/ObtenerRespuestaOcr" message="tns:IReconocimientoCaracteres_ObtenerRespuestaOcr_InputMessage" />
      <wsdl:output wsaw:Action="http://servicioocr.broxel.com/IReconocimientoCaracteres/ObtenerRespuestaOcrResponse" message="tns:IReconocimientoCaracteres_ObtenerRespuestaOcr_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReconocimientoCaracteres" type="tns:IReconocimientoCaracteres">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesarImagen">
      <soap:operation soapAction="http://servicioocr.broxel.com/IReconocimientoCaracteres/ProcesarImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRespuestaOcr">
      <soap:operation soapAction="http://servicioocr.broxel.com/IReconocimientoCaracteres/ObtenerRespuestaOcr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioReconocimientoCaracteres">
    <wsdl:port name="BasicHttpBinding_IReconocimientoCaracteres" binding="tns:BasicHttpBinding_IReconocimientoCaracteres">
      <soap:address location="http://localhost:15025/ServicioReconocimientoCaracteres.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>