Proyectos Trabajos/Broxel/Dlls/PubliPayments.Negocios/Service References/ServicioOCR/ServicioReconocimientoCaracteres2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicioocr.broxel.com/" elementFormDefault="qualified" targetNamespace="http://servicioocr.broxel.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15025/ServicioReconocimientoCaracteres.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReconocimientoCaracteres" />
  <xs:element name="ProcesarImagen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReconocimientoCaracteres" minOccurs="0" name="imagenOcr" nillable="true" type="q1:ImagenOcr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarImagenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarImagenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRespuestaOcr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRespuestaOcrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReconocimientoCaracteres" minOccurs="0" name="ObtenerRespuestaOcrResult" nillable="true" type="q2:RespuestaOcr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>