Proyectos Personales/Edenred/ExamenEdenred/ExamenEdenred.Controller/Service References/SvcUsuarios/Usuarios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19616/Usuarios/Usuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExamenEdenred.Entities.Entities" />
  <xs:element name="ExisteUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExamenEdenred.Entities.Entities" minOccurs="0" name="ExisteUsuarioResult" nillable="true" type="q1:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaArchivoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatTipoUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatTipoUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExamenEdenred.Entities.Entities" minOccurs="0" name="ObtenCatTipoUsuariosResult" nillable="true" type="q2:ArrayOfUsCatTipoUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>