Proyectos Personales/Edenred/ExamenEdenred/ExamenEdenred.Controller/Service References/SvcUsuarios/Usuarios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExamenEdenred.Entities.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExamenEdenred.Entities.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstatusUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdHistorial" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdNivelUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsUsuarios" nillable="true" type="tns:UsUsuarios" />
  <xs:complexType name="ArrayOfUsCatTipoUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsCatTipoUsuarios" nillable="true" type="tns:UsCatTipoUsuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsCatTipoUsuarios" nillable="true" type="tns:ArrayOfUsCatTipoUsuarios" />
  <xs:complexType name="UsCatTipoUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="TipoUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsCatTipoUsuarios" nillable="true" type="tns:UsCatTipoUsuarios" />
</xs:schema>