Proyectos Trabajos/Entrytec/eClock/eClock5/eClockBase/Service References/ES_Incidencias/S_Incidencias1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTiposIncidenciasMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SuscripcionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTiposIncidenciasMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenTiposIncidenciasMenuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoIncidenciaAgrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NombreIncidencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AbreviaturaIncidencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoIncidenciaAgregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoIncidenciaAgregaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaIncidencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoIncidenciaID" type="xs:int" />
        <xs:element minOccurs="0" name="ComentarioIncidencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaIncidenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreaIncidenciaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignaIncidenciaPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Persona_ID" type="xs:int" />
        <xs:element minOccurs="0" name="Incidencia_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignaIncidenciaPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsignaIncidenciaPersonaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaIncidencias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DatosIncidencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaIncidenciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CargaIncidenciasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignaIncidenciaPersonasDiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoIncidenciaID" type="xs:int" />
        <xs:element minOccurs="0" name="PersonasDiariosIDs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IncidenciaComentario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignaIncidenciaPersonasDiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsignaIncidenciaPersonasDiarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusVacaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusVacacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatusVacacionesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitaIncidencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonaID" type="xs:int" />
        <xs:element minOccurs="0" name="FechasJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoIncidenciaID" type="xs:int" />
        <xs:element minOccurs="0" name="Comentario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitaIncidenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitaIncidenciaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitaVacaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonaID" type="xs:int" />
        <xs:element minOccurs="0" name="FechasJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Comentario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitaVacacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitaVacacionesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusDias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonaID" type="xs:int" />
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusDiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatusDiasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusHoras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonasDiariosIDs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusHorasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatusHorasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusRegla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoIncidenciaID" type="xs:int" />
        <xs:element minOccurs="0" name="PersonasDiariosIDs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusReglaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatusReglaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusReglaHoras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoIncidenciaID" type="xs:int" />
        <xs:element minOccurs="0" name="PersonaDiarioID" type="xs:int" />
        <xs:element minOccurs="0" name="Horas" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusReglaHorasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatusReglaHorasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSaldos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonaID" type="xs:int" />
        <xs:element minOccurs="0" name="Agrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TiposIncidenciasIDS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSaldosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerSaldosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonaID" type="xs:int" />
        <xs:element minOccurs="0" name="Agrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TiposIncidenciasIDS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerHistorialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CorrigeMovimientoInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Almacen_IncID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CorrigeMovimientoInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CorrigeMovimientoInventarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenIncidencias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Desde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Hasta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PeriodoID" type="xs:int" />
        <xs:element minOccurs="0" name="SuscripcionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenIncidenciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenIncidenciasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaANomina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PeriodoID" type="xs:int" />
        <xs:element minOccurs="0" name="SuscripcionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaANominaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviaANominaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>