Proyectos Trabajos/Entrytec/eClock/eClockSync5/eClockSync5/Service References/ES_Sesion/S_Sesion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreaSesionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenUsuarioID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenUsuarioIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenUsuarioIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenSuscripcionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenSuscripcionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenSuscripcionIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenPerfilID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenPerfilIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenPerfilIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CierraSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CierraSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CierraSesionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SuscripcionID" type="xs:int" />
        <xs:element minOccurs="0" name="NombreTabla" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampoLlave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampoNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampoDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampoImagen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MostrarBorrados" type="xs:boolean" />
        <xs:element minOccurs="0" name="OtroFiltro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenListadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenListadoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSet" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:element ref="xs:schema" />
        <xs:any />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tabla" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Llaves" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Modelo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenDatosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SesionSeguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tabla" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Llaves" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Modelo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SuscripcionID" type="xs:int" />
        <xs:element minOccurs="0" name="EsNuevo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaDatosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>