Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SVRUsuarios/SUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SUsuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5099/Usuarios/SUsuarios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5099/Usuarios/SUsuarios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5099/Usuarios/SUsuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISUsuarios_ObtenUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenUsuario" />
  </wsdl:message>
  <wsdl:message name="ISUsuarios_ObtenUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISUsuarios_ObtenUsuarioPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenUsuarioPorId" />
  </wsdl:message>
  <wsdl:message name="ISUsuarios_ObtenUsuarioPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenUsuarioPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISUsuarios_CrearCuantaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCuantaUsuario" />
  </wsdl:message>
  <wsdl:message name="ISUsuarios_CrearCuantaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearCuantaUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ISUsuarios">
    <wsdl:operation name="ObtenUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISUsuarios/ObtenUsuario" message="tns:ISUsuarios_ObtenUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISUsuarios/ObtenUsuarioResponse" message="tns:ISUsuarios_ObtenUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenUsuarioPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISUsuarios/ObtenUsuarioPorId" message="tns:ISUsuarios_ObtenUsuarioPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISUsuarios/ObtenUsuarioPorIdResponse" message="tns:ISUsuarios_ObtenUsuarioPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearCuantaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISUsuarios/CrearCuantaUsuario" message="tns:ISUsuarios_CrearCuantaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISUsuarios/CrearCuantaUsuarioResponse" message="tns:ISUsuarios_CrearCuantaUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISUsuarios" type="tns:ISUsuarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenUsuario">
      <soap:operation soapAction="http://tempuri.org/ISUsuarios/ObtenUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenUsuarioPorId">
      <soap:operation soapAction="http://tempuri.org/ISUsuarios/ObtenUsuarioPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearCuantaUsuario">
      <soap:operation soapAction="http://tempuri.org/ISUsuarios/CrearCuantaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SUsuarios">
    <wsdl:port name="BasicHttpBinding_ISUsuarios" binding="tns:BasicHttpBinding_ISUsuarios">
      <soap:address location="http://localhost:5099/Usuarios/SUsuarios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>