Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SRV_GestionCatalogos/S_GestionCatalogos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades" />
  <xs:element name="ObtenTablaUsCatTipoUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablaUsCatTipoUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenTablaUsCatTipoUsuariosResult" nillable="true" type="q1:ArrayOfUS_CAT_TIPO_USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablaUsCatNivelUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablaUsCatNivelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenTablaUsCatNivelUsuarioResult" nillable="true" type="q2:ArrayOfUS_CAT_NIVEL_USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablaUsCatEstatusUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenTablaUsCatEstatusUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenTablaUsCatEstatusUsuarioResult" nillable="true" type="q3:ArrayOfUS_CAT_ESTATUS_USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatTipoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatTipoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenCatTipoUsuarioResult" nillable="true" type="q4:US_CAT_TIPO_USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatalogoNacionalidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatalogoNacionalidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenCatalogoNacionalidadesResult" nillable="true" type="q5:ArrayOfPER_CAT_NACIONALIDAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatTipoPersona">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatTipoPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenCatTipoPersonaResult" nillable="true" type="q6:ArrayOfPER_CAT_TIPO_PERSONA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenColoniasPorCp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPostal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenColoniasPorCpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenColoniasPorCpResult" nillable="true" type="q7:ArrayOfDIR_CAT_COLONIAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCatEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenCatEstadosResult" nillable="true" type="q8:ArrayOfDIR_CAT_ESTADO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenMunicipios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenMunicipiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenMunicipiosResult" nillable="true" type="q9:ArrayOfDIR_CAT_DELG_MUNICIPIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenColonias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" type="xs:int" />
        <xs:element minOccurs="0" name="municipio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenColoniasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenColoniasResult" nillable="true" type="q10:ArrayOfDIR_CAT_COLONIAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCodigoPostal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" type="xs:int" />
        <xs:element minOccurs="0" name="municipio" type="xs:int" />
        <xs:element minOccurs="0" name="colonia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenCodigoPostalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Universidad.Entidades" minOccurs="0" name="ObtenCodigoPostalResult" nillable="true" type="q11:DIR_CAT_COLONIAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>