Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SRV_GestionCatalogos/S_GestionCatalogos11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Universidad.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUS_CAT_TIPO_USUARIO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="US_CAT_TIPO_USUARIO" nillable="true" type="tns:US_CAT_TIPO_USUARIO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUS_CAT_TIPO_USUARIO" nillable="true" type="tns:ArrayOfUS_CAT_TIPO_USUARIO" />
  <xs:complexType name="US_CAT_TIPO_USUARIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_TIPO_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="TIPO_USUARIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="US_CAT_TIPO_USUARIO" nillable="true" type="tns:US_CAT_TIPO_USUARIO" />
  <xs:complexType name="ArrayOfPER_CAT_NACIONALIDAD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PER_CAT_NACIONALIDAD" nillable="true" type="tns:PER_CAT_NACIONALIDAD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPER_CAT_NACIONALIDAD" nillable="true" type="tns:ArrayOfPER_CAT_NACIONALIDAD" />
  <xs:complexType name="PER_CAT_NACIONALIDAD">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVE_NACIONALIDAD" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE_PAIS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PER_CAT_NACIONALIDAD" nillable="true" type="tns:PER_CAT_NACIONALIDAD" />
  <xs:complexType name="ArrayOfPER_CAT_TIPO_PERSONA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PER_CAT_TIPO_PERSONA" nillable="true" type="tns:PER_CAT_TIPO_PERSONA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPER_CAT_TIPO_PERSONA" nillable="true" type="tns:ArrayOfPER_CAT_TIPO_PERSONA" />
  <xs:complexType name="PER_CAT_TIPO_PERSONA">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_TIPO_PERSONA" type="xs:int" />
      <xs:element minOccurs="0" name="TIPO_PERSONA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PER_CAT_TIPO_PERSONA" nillable="true" type="tns:PER_CAT_TIPO_PERSONA" />
  <xs:complexType name="ArrayOfDIR_CAT_COLONIAS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DIR_CAT_COLONIAS" nillable="true" type="tns:DIR_CAT_COLONIAS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDIR_CAT_COLONIAS" nillable="true" type="tns:ArrayOfDIR_CAT_COLONIAS" />
  <xs:complexType name="DIR_CAT_COLONIAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGOPOSTAL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDCOLONIA" type="xs:int" />
      <xs:element minOccurs="0" name="IDDELGMUNICIPIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDESTADO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDMUNICIPIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDTIPOASENTAMIENTO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDTIPOZONA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRECOLONIA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DIR_CAT_COLONIAS" nillable="true" type="tns:DIR_CAT_COLONIAS" />
  <xs:complexType name="ArrayOfDIR_CAT_ESTADO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DIR_CAT_ESTADO" nillable="true" type="tns:DIR_CAT_ESTADO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDIR_CAT_ESTADO" nillable="true" type="tns:ArrayOfDIR_CAT_ESTADO" />
  <xs:complexType name="DIR_CAT_ESTADO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDESTADO" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBREESTADO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DIR_CAT_ESTADO" nillable="true" type="tns:DIR_CAT_ESTADO" />
  <xs:complexType name="ArrayOfDIR_CAT_DELG_MUNICIPIO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DIR_CAT_DELG_MUNICIPIO" nillable="true" type="tns:DIR_CAT_DELG_MUNICIPIO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDIR_CAT_DELG_MUNICIPIO" nillable="true" type="tns:ArrayOfDIR_CAT_DELG_MUNICIPIO" />
  <xs:complexType name="DIR_CAT_DELG_MUNICIPIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDDELGMUNICIPIO" type="xs:int" />
      <xs:element minOccurs="0" name="IDESTADO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDMUNICIPIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBREDELGMUNICIPIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DIR_CAT_DELG_MUNICIPIO" nillable="true" type="tns:DIR_CAT_DELG_MUNICIPIO" />
</xs:schema>