Proyectos Personales/Universidad/Aplicacion/Universidad/Universidad.Controlador/Service References/SRV_GestionCatalogos/S_GestionCatalogos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="S_GestionCatalogos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Universidad.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablaUsCatTipoUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablaUsCatTipoUsuarios" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablaUsCatTipoUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablaUsCatTipoUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablaUsCatNivelUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablaUsCatNivelUsuario" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablaUsCatNivelUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablaUsCatNivelUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablaUsCatEstatusUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablaUsCatEstatusUsuario" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenTablaUsCatEstatusUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenTablaUsCatEstatusUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatTipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatTipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatTipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatTipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatalogoNacionalidades_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatalogoNacionalidades" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatalogoNacionalidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatalogoNacionalidadesResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatTipoPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatTipoPersona" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatTipoPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatTipoPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenColoniasPorCp_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenColoniasPorCp" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenColoniasPorCp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenColoniasPorCpResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatEstados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatEstados" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCatEstados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCatEstadosResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenMunicipios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenMunicipios" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenMunicipios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenMunicipiosResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenColonias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenColonias" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenColonias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenColoniasResponse" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCodigoPostal_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCodigoPostal" />
  </wsdl:message>
  <wsdl:message name="IS_GestionCatalogos_ObtenCodigoPostal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenCodigoPostalResponse" />
  </wsdl:message>
  <wsdl:portType name="IS_GestionCatalogos">
    <wsdl:operation name="ObtenTablaUsCatTipoUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatTipoUsuarios" message="tns:IS_GestionCatalogos_ObtenTablaUsCatTipoUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatTipoUsuariosResponse" message="tns:IS_GestionCatalogos_ObtenTablaUsCatTipoUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenTablaUsCatNivelUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatNivelUsuario" message="tns:IS_GestionCatalogos_ObtenTablaUsCatNivelUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatNivelUsuarioResponse" message="tns:IS_GestionCatalogos_ObtenTablaUsCatNivelUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenTablaUsCatEstatusUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatEstatusUsuario" message="tns:IS_GestionCatalogos_ObtenTablaUsCatEstatusUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatEstatusUsuarioResponse" message="tns:IS_GestionCatalogos_ObtenTablaUsCatEstatusUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCatTipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatTipoUsuario" message="tns:IS_GestionCatalogos_ObtenCatTipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatTipoUsuarioResponse" message="tns:IS_GestionCatalogos_ObtenCatTipoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCatalogoNacionalidades">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogoNacionalidades" message="tns:IS_GestionCatalogos_ObtenCatalogoNacionalidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogoNacionalidadesResponse" message="tns:IS_GestionCatalogos_ObtenCatalogoNacionalidades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCatTipoPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatTipoPersona" message="tns:IS_GestionCatalogos_ObtenCatTipoPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatTipoPersonaResponse" message="tns:IS_GestionCatalogos_ObtenCatTipoPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenColoniasPorCp">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenColoniasPorCp" message="tns:IS_GestionCatalogos_ObtenColoniasPorCp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenColoniasPorCpResponse" message="tns:IS_GestionCatalogos_ObtenColoniasPorCp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCatEstados">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatEstados" message="tns:IS_GestionCatalogos_ObtenCatEstados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCatEstadosResponse" message="tns:IS_GestionCatalogos_ObtenCatEstados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenMunicipios">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenMunicipios" message="tns:IS_GestionCatalogos_ObtenMunicipios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenMunicipiosResponse" message="tns:IS_GestionCatalogos_ObtenMunicipios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenColonias">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenColonias" message="tns:IS_GestionCatalogos_ObtenColonias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenColoniasResponse" message="tns:IS_GestionCatalogos_ObtenColonias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenCodigoPostal">
      <wsdl:input wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCodigoPostal" message="tns:IS_GestionCatalogos_ObtenCodigoPostal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS_GestionCatalogos/ObtenCodigoPostalResponse" message="tns:IS_GestionCatalogos_ObtenCodigoPostal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IS_GestionCatalogos" type="tns:IS_GestionCatalogos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenTablaUsCatTipoUsuarios">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatTipoUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenTablaUsCatNivelUsuario">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatNivelUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenTablaUsCatEstatusUsuario">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenTablaUsCatEstatusUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCatTipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCatTipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCatalogoNacionalidades">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCatalogoNacionalidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCatTipoPersona">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCatTipoPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenColoniasPorCp">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenColoniasPorCp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCatEstados">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCatEstados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenMunicipios">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenMunicipios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenColonias">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenColonias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenCodigoPostal">
      <soap:operation soapAction="http://tempuri.org/IS_GestionCatalogos/ObtenCodigoPostal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="S_GestionCatalogos">
    <wsdl:port name="BasicHttpBinding_IS_GestionCatalogos" binding="tns:BasicHttpBinding_IS_GestionCatalogos">
      <soap:address location="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>