Proyectos Trabajos/Broxel/Dlls/PubliPayments.Negocios/Service References/wsGestiones/WSCSIBM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://ws.infonavit.org.mx" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://ws.infonavit.org.mx" targetNamespace="http://ws.infonavit.org.mx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.infonavit.org.mx">
      <xsd:element name="insertaDatos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="numCredito" type="xsd:string" />
            <xsd:element name="fechaCaptura" type="xsd:string" />
            <xsd:element name="idRuta" type="xsd:string" />
            <xsd:element name="despacho" type="xsd:string" />
            <xsd:element name="usser" type="xsd:string" />
            <xsd:element name="alterUssr" type="xsd:string" />
            <xsd:element name="estado" type="xsd:string" />
            <xsd:element name="movil" type="xsd:string" />
            <xsd:element name="numMovimientos" type="xsd:int" />
            <xsd:element maxOccurs="unbounded" name="array" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insertaDatosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="insertaDatosReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="insertaDatosResponse">
    <wsdl:part name="parameters" element="impl:insertaDatosResponse" />
  </wsdl:message>
  <wsdl:message name="insertaDatosRequest">
    <wsdl:part name="parameters" element="impl:insertaDatos" />
  </wsdl:message>
  <wsdl:portType name="WSCSIBM">
    <wsdl:operation name="insertaDatos">
      <wsdl:input name="insertaDatosRequest" message="impl:insertaDatosRequest" />
      <wsdl:output name="insertaDatosResponse" message="impl:insertaDatosResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSCSIBMSoapBinding" type="impl:WSCSIBM">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertaDatos">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="insertaDatosRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="insertaDatosResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCSIBMService">
    <wsdl:port name="WSCSIBM" binding="impl:WSCSIBMSoapBinding">
      <wsdlsoap:address location="http://201.144.89.12/CSIBMWS/services/WSCSIBM" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>